@model BForms.Docs.Areas.Demo.Models.ContributorsRowFormModel
@using BForms.Html

@using (Html.BsBeginForm())
{
    <div class="col-sm-10 col-md-10 col-lg-10 form-group @Html.BsValidationCssFor(m => m.Contributions)">
        @Html.BsLabelFor(m => m.Contributions)
        <div class="input-group">
            @Html.BsGlyphiconAddon(BForms.Models.Glyphicon.Stats)
            @Html.BsInputFor(m => m.Contributions)
            @Html.BsValidationFor(m => m.Contributions)
        </div>
    </div>

    <div class="clearfix"></div>
}
