@using BForms.Docs.Resources
@using BootstrapForms.Html
@using BootstrapForms.Models

<div class="action_buttons js-group_actions">
    <button class="btn btn-default js-btn-enable_selected" style="display:none" title="Export selected to excel">@Html.BsGlyphicon(Glyphicon.DownloadAlt)</button>
    <button class="btn btn-default js-btn-enable_selected" style="display:none" title="Enable selected">@Html.BsGlyphicon(Glyphicon.Ok)</button>
    <button class="btn btn-default js-btn-disable_selected" style="display:none" title="Disable selected">@Html.BsGlyphicon(Glyphicon.Remove)</button>
    <button class="btn btn-default js-btn-delete_selected" style="display:none" title="Delete selected">@Html.BsGlyphicon(Glyphicon.Trash)</button>
    <div class="btn-group check_all">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
        <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="#" class="js-all">@Resource.All</a></li>
            <li><a href="#" class="js-actives">@Resource.Enabled</a></li>
            <li><a href="#" class="js-inactives">@Resource.Disabled</a></li>
            <li><a href="#" class="js-none">@Resource.None</a></li>
        </ul>
        <input type="checkbox">
    </div>
</div>