@using BForms.Docs.Helpers
<h3 id="Javascript">Javascript</h3>

<p>
    Firstly, go ahead and require <strong>bforms.grid.js</strong> aka <strong>bforms-grid</strong> (defined in <strong>RequireJS.json</strong>).
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptGridRequire.js.embed")
</pre>

<br/>

<p>
    Now that the script is loaded we can apply the grid widget on the element.
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptGrid.js.embed")
</pre>
<br/>
<p>
    For further configuration see the list of options below:
</p>
<hr />

<h4 class="sub_title">Options</h4>

<code>uniqueName</code>

<p>
    <strong>type</strong> <code>string</code>
    <br />
    <strong>default</strong> <code>DOM element id</code>
</p>

<p>
    Used to uniquely identify the grid. It is not required as long as the grid has the id attribute set.
</p>

<code>pagerUrl</code>

<p>
    <strong>type</strong> <code>string</code>
    <br />
    <strong>default</strong> <code>null</code>
</p>

<p>
    Represents the url used in pagination. After making an ajax request to that action, it expects to receive back the items count and the html.
</p>

<code>rowActions</code>

<p>
    <strong>type</strong> <code>array</code>
    <br />
    <strong>default</strong> <code>[]</code>
</p>

<p>
    Represents a set of actions applicable on the specified item. The trigger buttons have to be in the details html container.
</p>

<h4 class="sub_title">Example</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptRowAction.js.embed")
</pre>
<br/>

<code>filterButtons</code>

<p>
    <strong>type</strong> <code>array</code>
    <br />
    <strong>default</strong> <code>[]</code>
</p>

<p>
    Configure the grid's bulk action selectors.
</p>

<h4 class="sub_title">Example</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptFilterButton.js.embed")
</pre>
<br />

<code>gridActions</code>

<p>
    <strong>type</strong> <code>array</code>
    <br />
    <strong>default</strong> <code>[]</code>
</p>

<p>
    Configure the grid's bulk actions (actions that apply to the selected rows)
</p>

<h4 class="sub_title">Example</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Grid/Source/_JavascriptGridAction.js.embed")
</pre>
<br />

<code>detailsUrl</code>

<p>
    <strong>type</strong> <code>string</code>
    <br />
    <strong>default</strong> <code>null</code>
</p>

<p>
    Represents the url used to get the content of the row details.
</p>

<code>beforeRowDetailsSuccess</code>

<p>
    <strong>type</strong> <code>function</code>
    <br />
    <strong>default</strong> <code>null</code>
</p>

<p>
    Function triggered before the details ajax.
</p>

<code>afterRowDetailsSuccess</code>

<p>
    <strong>type</strong> <code>function</code>
    <br />
    <strong>default</strong> <code>null</code>
</p>

<p>
    Function triggered after the details ajax.
</p>

<code>updateRowUrl</code>

<p>
    <strong>type</strong> <code>string</code>
    <br />
    <strong>default</strong> <code>null</code>
</p>

<p>
    Represents the url used to get the content of a single row (with or without details).
</p>
