@{
    ViewBag.Title = "Grid control";
}

<div class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
                <li>
                    <a href="#select-section">Grid control</a>
                    <ul class="nav">
                        <li><a href="#Models">Models</a></li>
                        <li><a href="#GridHelper">Grid Helper</a></li>
                        <li><a href="#Repository">Repository</a></li>
                        <li><a href="#Javascript">Javascript</a></li>
                        <li><a href="#css">CSS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-9 col-lg-9" role="main">
        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="select-section">Grid</h1>
            </div>
            <p>
                BForms <strong>Grid</strong> and <strong>Toolbar</strong> components are designed to provide rich functionality, cross-browser, cross-device 
                and internationalization support for tabular data providing full CRUD and search operations over complex datasets.
            </p>
            <p>
                The feature set includes AJAX-enabled paging, sorting, editing, filtering and built-in data repository adapted for 
                Entity Framework that can be customized with your own query logic. The UI is touch friendly and HTML5 enhanced featuring edit in place, 
                master-details view and multi row select with bulk actions. 
            </p>
            <p>
                On the client side, the Grid is deployed as an AMD jQuery widget that supports theming and templates, 
                the styling is done using bootstrap v3 CSS grid system.  
            </p>
            <hr/>
            @Html.Partial("Grid/_Models")
            <hr />

            @Html.Partial("Grid/_GridHelper")
            <hr />

            @Html.Partial("Grid/_Repository")
            <hr />

            @Html.Partial("Grid/_Javascript")
            <hr />

            @Html.Partial("Grid/_CSS")

        </div>

    </main>
</div>
