@using BForms.Html
@using BForms.Docs.Resources
@using BForms.Models

@model BForms.Docs.Areas.Demo.Models.ContributorsViewModel

@{
    ViewBag.Title = "Group Editor Demo";
}


<div class="grid_container">
    <div class="group_editor">
        <div class="left">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#models" data-toggle="tab">Models</a></li>
                        <li><a href="#views" data-toggle="tab">Views</a></li>
                        <li><a href="#ccontroller" data-toggle="tab">ASP.NET Controller</a></li>
                        <li><a href="#jscontroller" data-toggle="tab">JS Controller</a></li>
                    </ul>
                </div>
            </nav>
            <div class="search js-search">
                <form class="js-searchForm">
                    <div class="basic">
                        <div class="row form-container">

                            <div class="col-12 col-sm-4 col-lg-5 form-group">
                                <label class="control-label" for="Name">Nume</label>
                                <div class="input-group">
                                    <span class="glyphicon glyphicon-user input-group-addon"></span>
                                    <input class="form-control bs-text" id="Name" name="Name" type="text" value="">
                                </div>
                            </div>

                            <div class="col-12 col-sm-4 col-lg-5 form-group">
                                <label class="control-label" for="s2id_autogen2">Departament</label>
                                <div class="input-group">
                                    <div class="select2-container form-control bs-dropdown custom_select" id="s2id_Departments_SelectedValues"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Alegeţi</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen2"><div class="select2-drop select2-display-none select2-with-searchbox">   <div class="select2-search">       <input type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="select2-input">   </div>   <ul class="select2-results">   </ul></div></div><select class="form-control bs-dropdown select2-offscreen" id="Departments_SelectedValues" name="Departments.SelectedValues" tabindex="-1">
                                        <option value="">Alegeţi</option>
                                        <option value="12">Administrativ </option>
                                        <option value="5">Contabilitate</option>
                                        <option value="9">Dezvoltare C++</option>
                                        <option value="2">Dezvoltare WEB</option>
                                        <option value="6">Informatica Juridica</option>
                                        <option value="4">IT</option>
                                        <option value="10">Juridic</option>
                                        <option value="13">Management</option>
                                        <option value="3">Secretariat</option>
                                        <option value="8">Suport Tehnic</option>
                                        <option value="11">Texte</option>
                                        <option value="7">Vânzări</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="grids_header_submit">
                        <button type="submit" class="btn btn-default js-btn-search">Caută</button>

                    </div>
                </form>
            </div>
            <ul class="group_profiles">
                <li>
                    <div class="media profile large">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://www.cloverwos.ro/1.0.0.217/Content/images/bg-user.png">
                        </a>
                        <a href="#" class="btn btn-default pull-right">@Html.BsGlyphicon(Glyphicon.Plus)</a>
                        <div class="media-body">
                            <dl class="to-left">
                                <dt>Seria:</dt>
                                <dd>Test</dd>

                                <dt>Inregistrat de către:</dt>
                                <dd><a href="#">Cristian Pufu</a> 19.02.2004</dd>

                                <dt>Dată:</dt>
                                <dd>04.07.2013</dd>
                            </dl>
                        </div>

                    </div>
                </li>
                <li class="selected">
                    <div class="media profile large">
                        <a class="pull-left" href="#">
                            <img class="media-object" src="http://www.cloverwos.ro/1.0.0.217/Content/images/bg-user.png">
                        </a>
                        <a href="#" class="btn btn-default pull-right">@Html.BsGlyphicon(Glyphicon.Ok)</a>
                        <div class="media-body">
                            <dl class="to-left">
                                <dt>Seria:</dt>
                                <dd>Test</dd>

                                <dt>Inregistrat de către:</dt>
                                <dd><a href="#">Cristian Pufu</a> 19.02.2004</dd>

                                <dt>Dată:</dt>
                                <dd>04.07.2013</dd>
                            </dl>
                        </div>

                    </div>
                </li>
            </ul>

            <div class="row bs-pager">
                <div class="col-md-8 col-lg-8 bs-pages">
                    <ul class="pagination pagination-sm">
                        <li class="disabled"><a data-page="1" href="#">«</a></li>
                        <li class="disabled"><a data-page="0" href="#">‹</a></li>
                        <li class="active"><a data-page="1" href="#">1</a></li>
                        <li><a data-page="2" href="#">2</a></li>
                        <li><a data-page="3" href="#">3</a></li>
                        <li><a data-page="2" href="#">›</a></li>
                        <li><a data-page="3" href="#">»</a></li>
                    </ul>
                    <div class="results_number">1-5 of <span>15</span> items</div>
                </div>
                <div class="col-md-4 col-lg-4 results_per_page">
                    <div class="pull-right">
                        <div class="dropdown dropup">
                            <span class="results_per_page_container">results per page</span>
                            <a data-toggle="dropdown" href="#"><span class="btn btn-default bs-perPageDisplay">5<span class="caret"></span></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a class="bs-perPage selected" data-value="5" href="#">5</a></li>
                                <li><a class="bs-perPage" data-value="10" href="#">10</a></li>
                                <li><a class="bs-perPage" data-value="50" href="#">50</a></li>
                                <li><a class="bs-perPage" data-value="100" href="#">100</a></li>
                                <li><a class="bs-perPage" data-value="500" href="#">500</a></li>
                            </ul>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>  @*first column end  *@

        <div class="right">
            <div class="grid_view">
                <div class="grid_rows">
                    <div class="row grid_row title">
                        <div class=" col-lg-12 col-md-12 col-sm-12">
                            <a class="expand bs-toggleExpand" href="#">&nbsp;</a>
                            <a class="bs-orderColumn" data-name="Name" href="#">Name</a>
                        </div>
                    </div>
                    <div class="grid_rows_wrapper">
                        <div class="row grid_row" data-active="True" data-objid="1" style="">
                            <header>
                                <div class=" col-lg-6 col-md-6 col-sm-2">
                                    <span>1. Stefan P.</span>
                                </div>
                                <div class=" col-lg-6 col-md-6 col-sm-4">
                                    <div class="controls btn-group btn-group-sm pull-right">
                                        <a href="#" class="btn btn-default">@Html.BsGlyphicon(Glyphicon.Pencil)</a>
                                        <a href="#" class="btn btn-default">@Html.BsGlyphicon(Glyphicon.ChevronUp)</a>
                                        <a href="#" class="btn btn-default">@Html.BsGlyphicon(Glyphicon.ChevronDown)</a>
                                        <a href="#" class="btn btn-default">@Html.BsGlyphicon(Glyphicon.Remove)</a>
                                    </div>
                                </div>
                            </header>
                        </div>
                    </div>
                </div>
            </div>
        </div>  @*second column end*@
    </div>
</div>