@using BootstrapForms.Html
@using BootstrapForms.Models
@model BForms.Docs.Areas.Demo.Models.LoginModel

<div class="col-12 col-sm-12 col-lg-12">
    <h1>@Html.BsGlyphicon(Glyphicon.StartEmpty) Login form</h1>
</div>

@using (Html.BeginForm("Authentication", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "bs-form js-loginForm" }))
{
    <div class="form-container loading">
        @Html.BsFormValidation()

        <div class="col-12 col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Email)">
            <div class="input-group">
                @Html.BsGlyphiconAddon(Glyphicon.Envelope)
                @Html.BsInputFor(m => m.Email)
                @Html.BsValidationFor(m => m.Email)
            </div>
        </div>

        <div class="col-12 col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Password)">
            <div class="input-group">
                @Html.BsGlyphiconAddon(Glyphicon.GLock)
                @Html.BsInputFor(m => m.Password)
                @Html.BsValidationFor(m => m.Password)
            </div>
        </div>

        <div class="col-12 col-sm-12 col-lg-12 form-group checkbox">
            @Html.BsInputFor(m => m.RememberMe)
        </div>

        <div class="clearfix"></div>
        <div class="col-12 col-sm-12 col-lg-12">
            <hr />
            <button class="btn btn-default js-loginBtn" type="submit">Login</button>
        </div>

        

    </div>
}
