@using BForms.Docs.Helpers
@using BForms.Grid
@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.LoginModel



<div class="col-12 col-sm-12 col-lg-12">
    <h1>@Html.BsGlyphicon(Glyphicon.StartEmpty) Login form</h1>
</div>

@using (Html.BsBeginForm("Index", "Login", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "bs-form js-loginForm"}, Html.GetTheme()))
{
    <div class="col-12 col-sm-12 col-lg-12">
        @Html.BsValidationSummary()
    </div>

    <div class="col-12 col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Email)">
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Envelope)
            @Html.BsInputFor(m => m.Email)
            @Html.BsValidationFor(m => m.Email)
        </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Password)">
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Lock)
            @Html.BsInputFor(m => m.Password)
            @Html.BsValidationFor(m => m.Password)
        </div>
    </div>

    <div class="col-12 col-sm-12 col-lg-12 form-group checkbox">
        @Html.BsInputFor(m => m.RememberMe)
    </div>

    <div class="clearfix"></div>
    <div class="col-12 col-sm-12 col-lg-12">
        <hr />
        <button class="btn btn-default js-loginBtn" type="submit">Login</button>
        <a class="btn btn-primary pull-right" href="@Url.Action("Index", new {mode = "register"})">Register</a>
    </div>
}


<div class="docs_tabs">
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#models" data-toggle="tab">Models</a></li>
                <li><a href="#views" data-toggle="tab">Views</a></li>
                <li><a href="#ccontroller" data-toggle="tab">C# Controller</a></li>
                <li><a href="#jscontroller" data-toggle="tab">JS Controller</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">@Html.BsGlyphicon(Glyphicon.Link) Documentation</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>

    <div class="tab-content">
        <div class="tab-pane fade in active" id="models">
            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="views">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="ccontroller">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
        <div class="tab-pane fade" id="jscontroller">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
        </div>
    </div>
</div>