@using BForms.Docs.Helpers
@using BForms.Grid
@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.LoginModel



<div class="col-lg-12">
    <h1>@Html.BsGlyphicon(Glyphicon.StartEmpty) Login form</h1>
</div>
<div class="clearfix"></div>

@using (Html.BsBeginForm("Index", "Login",
    new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, 
    new {@class = "bs-form js-loginForm"}, 
    Html.GetTheme()))
{
    <div class="col-lg-12">
        @Html.BsValidationSummary()
    </div>

    <div class="col-lg-12 form-group @Html.BsValidationCssFor(m => m.Email)">
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Envelope)
            @Html.BsInputFor(m => m.Email)
            @Html.BsValidationFor(m => m.Email)
        </div>
    </div>

    <div class="col-lg-12 form-group @Html.BsValidationCssFor(m => m.Password)">
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Lock)
            @Html.BsInputFor(m => m.Password)
            @Html.BsValidationFor(m => m.Password)
        </div>
    </div>

    <div class="col-lg-12 form-group checkbox">
        @Html.BsInputFor(m => m.RememberMe)
    </div>

    <div class="col-lg-12">
        <hr />
        <button class="btn btn-theme js-loginBtn" type="submit">Login</button>
        <a class="btn btn-primary pull-right" href="@Url.Action("Index", new {mode = "register"})">Register</a>
    </div>
}
