@using BForms.Docs.Helpers
@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.RegisterModel


<h1>@Html.BsGlyphicon(Glyphicon.StartEmpty) Register form</h1>



@using (Html.BsBeginForm("Register", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "bs-form js-registerForm" }, Html.GetTheme()))
{
    <div class="col-lg-12 bs-validation_summary">
        @Html.BsValidationSummary()
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Name)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.User)
            @Html.BsInputFor(m => m.Name)
            @Html.BsValidationFor(m => m.Name)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Email)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Envelope)
            @Html.BsInputFor(m => m.Email)
            @Html.BsValidationFor(m => m.Email)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Website)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Link)
            @Html.BsInputFor(m => m.Website)
            @Html.BsValidationFor(m => m.Website)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Password)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Lock)
            @Html.BsInputFor(m => m.Password)
            @Html.BsValidationFor(m => m.Password)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.PasswordRetyped)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Lock)
            @Html.BsInputFor(m => m.PasswordRetyped)
            @Html.BsValidationFor(m => m.PasswordRetyped)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Interval)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Calendar)
            @Html.BsRangeFor(m => m.Interval, new { }, new { usePresetRanges = true})
            @Html.BsValidationFor(m => m.Interval)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Birthday)
        <div class="input-group">
            @Html.BsInputFor(m => m.Birthday)
            @Html.BsValidationFor(m => m.Birthday)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.NotificationList)
        <div class="input-group">
            @Html.BsSelectFor(m => m.NotificationList)
            @Html.BsValidationFor(m => m.NotificationList)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.NotificationTime)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Time)
            @Html.BsInputFor(m => m.NotificationTime)
            @Html.BsValidationFor(m => m.NotificationTime)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.CountriesList)
        <div class="input-group">
            @Html.BsSelectFor(m => m.CountriesList)
            @Html.BsValidationFor(m => m.CountriesList)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.TechnologiesCheckboxList)
        <div class="input-group">
            @Html.BsSelectFor(m => m.TechnologiesCheckboxList)
            @Html.BsValidationFor(m => m.TechnologiesCheckboxList)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.TechnologiesList)
        <div class="input-group">
            @Html.BsSelectFor(m => m.TechnologiesList)
            @Html.BsValidationFor(m => m.TechnologiesList)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.LanguagesList)
        <div class="input-group">
            @Html.BsSelectFor(m => m.LanguagesList)
            @Html.BsValidationFor(m => m.LanguagesList)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.IdeList)
        <div class="input-group">
            @Html.BsSelectFor(m => m.IdeList)
            @Html.BsValidationFor(m => m.IdeList)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.Gender)
        <div class="input-group">
            @Html.BsDropDownListFor(m => m.Gender, Model.GenderList)
            @Html.BsValidationFor(m => m.Gender)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.AnnualIncome)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Euro)
            @Html.BsInputFor(m => m.AnnualIncome)
            @Html.BsValidationFor(m => m.AnnualIncome)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.JavascriptMvcFramework)
        <div class="input-group">
            @Html.BsSelectFor(m => m.JavascriptMvcFramework)
            @Html.BsValidationFor(m => m.JavascriptMvcFramework)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group">
        @Html.BsLabelFor(m => m.WebBrowsers)
        <div class="input-group">
            @Html.BsSelectFor(m => m.WebBrowsers)
            @Html.BsValidationFor(m => m.WebBrowsers)
        </div>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6 form-group checkbox">
        @Html.BsInputFor(m => m.ConsentAgreement)
        @Html.BsValidationFor(m => m.ConsentAgreement)
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <hr />
        <button class="btn btn-theme js-registerBtn" type="submit">Register</button>
        <a class="btn btn-primary pull-right" href="@Url.Action("Index", new { mode="login"})">Login</a>
    </div>
    
    <div class="clearfix"></div>
}