@using BForms.Docs.Helpers
<h3 id="Input-Password">Password Input</h3>

<p>        
    In order to render a text input of type password you will need to use the 
    <code>@@Html.BsInputFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.Password)]</code>.
</p>

<p>
    To achieve the same behavior without the <code>BsControlAttribute</code>, you can use the specialized helper
    <code>BsPasswordFor</code> or <code>BsPassword</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/password-input.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputPasswordModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputPasswordView.cshtml.embed")
</pre>
<h5 class="sub_title">Specialized helper </h5>
<p>
    To achieve the same behavior without the <code>BsControlAttribute</code>, you can use the textbox helper <code>BsTextBoxFor</code> alongside the <code>[DataType]</code> annotation with
    a value of <code>DataType.Password</code>.
</p>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputPasswordSpecializedModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputPasswordSpecializedView.cshtml.embed")
</pre>