@using BForms.Docs.Helpers
<h3 id="Input-TextBox">TextBox Input</h3>

<p>        
    In order to render a text input of type text you will need to use the 
    <code>@@Html.BsInputFor</code> helper extension and 
    decorate your model property with <code>[BsControl(BsControlType.TextBox)]</code>.
</p>

<h4 class="sub_title">Example</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/textbox-input.jpg")">
</div>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputTextboxModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputTextboxView.cshtml.embed")
</pre>

<h5 class="sub_title">Specialized helper </h5>
<p>        
    To achieve the same behavior without the <code>BsControlAttribute</code>, you can use the specialized helper 
    <code>BsTextBoxFor</code> or <code>BsTextBox</code>.
</p>

<h4 class="sub_title">Model</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputTextboxSpecializedModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/InputExtensions/Source/InputTextboxSpecializedView.cshtml.embed")
</pre>