@using BForms.Html
@using BForms.Models

@{
    var header = ViewBag.Header;
    var ctrl = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
    var area = HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"];
}

<header>
    <div class="navbar">
	    <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand brand" href="@Url.Action("Index", "Home", new { area = "" })"><img src="@Url.Content("~/Content/images/logo-bforms@2x.png")" width="200" height="39"></a>
	    </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown @(ctrl.Contains("Start") ? "active" : "")">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Get started</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Setup", "Start", new { area = "" })">Project setup</a></li>
                        <li><a href="@Url.Action("Form", "Start", new { area = "" })">Building forms</a></li>
                        <li><a href="@Url.Action("Grid", "Start", new { area = "" })">Building grids and toolbars</a></li>
                        <li><a href="@Url.Action("Group", "Start", new { area = "" })">Building group editors</a></li>
                    </ul>
                </li>
                <li class="dropdown @(ctrl.Contains("Docs") ? "active" : "")">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Docs</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Overview", "Docs", new { area = "" })">Overview</a></li>
                        <li><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })">Input controls</a></li>
                        <li><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })">Select controls</a></li>
                        <li><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })">Range controls</a></li>
                        <li><a href="@Url.Action("Panel", "Docs", new { area = "" })">Panel control</a></li>
                        <li><a href="@Url.Action("GroupEditor", "Docs", new { area = "" })">Group Editor control</a></li>
                        <li><a href="@Url.Action("Grid", "Docs", new { area = "" })">Grid control</a></li>
                        <li><a href="@Url.Action("Toolbar", "Docs", new { area = "" })">Toolbar control</a></li>
                        <li><a href="@Url.Action("Excel", "Docs", new { area = "" })">Excel control</a></li>
                    </ul>
                </li>
                <li class="dropdown @((area != null && area.ToString().Contains("Demo")) ? "active" : "")">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Examples</a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Login", new { area = "Demo", mode = "register" })">Register and Login form</a></li>
                        <li><a href="@Url.Action("Index", "Contributors", new { area = "Demo" })">Grid and Toolbar</a></li>
                        <li><a href="@Url.Action("Index", "GroupEditor", new { area = "Demo" })">Group Editor</a></li>
                        <li><a href="@Url.Action("Index", "UserProfile", new { area = "Demo" })">User profile</a></li>
                        @*<li><a href="@Url.Action("Index", "FormBuilder", new { area = "Demo" })">Form Builder</a></li>*@
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</header>