@using BForms.Docs.Helpers
@using BForms.Html
@using RequireJS

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="description" content="Boostrap Forms open source framework for ASP.NET MVC">
        <meta name="author" content="Stefan Prodan">
        <meta name="keywords" content="forms, bootstrap, open source, asp.net, mvc, javascript, amd js, html5, css, sass, responsive design, mobile first">
        <title>@ViewBag.Title - BForms</title>
        @Styles.Render("~/css")

         @*For IE7-8 support of HTML5 elements and responsive*@
        <!--[if lt IE 9]>
        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            <script src="@Url.Content("~/Scripts/BForms/Components/Html5shiv/html5shiv.js")" type="text/javascript"></script>
            <script src="@Url.Content("~/Scripts/BForms/Components/Respond/respond.js")" type="text/javascript"></script>
        }
        else
        {
            <script src="@Url.Content("~/Scripts/BForms/Bundles/iefix.js")" type="text/javascript"></script>
        }
        <![endif]-->

    </head>
    <body class="@Html.GetEnumDescription(Html.GetTheme())">
        @Html.Partial("_Header")

        <section id="body">
            @RenderBody()
        </section>


        @Html.Partial("_Themes")
        @Html.Partial("_Footer")

        <div class="loading-global">
            Loading...
        </div>

        @*Highlight source code*@
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

        @if (HttpContext.Current.IsDebuggingEnabled)
        {
            @Html.RenderRequireJsSetup(Url.Content("~/Scripts"),
            Url.Content("~/Scripts/bforms/components/requirejs/require.js"),
            new []
            {
                Server.MapPath("~/Scripts/BForms/RequireJS.config"),
                Server.MapPath("~/RequireJS.config")
            })
        }
        else
        {
            @Html.RenderRequireJsSetup(Url.Content("~/Scripts"),
            Url.Content("~/Scripts/bforms/components/requirejs/require.js"),
            new []
            {
                Server.MapPath("~/Scripts/BForms/RequireJS.Release.config"),
                Server.MapPath("~/RequireJS.Release.config")
            })
            @Html.Partial("_Tracking")
        }

    </body>

</html>