@using RequireJS

<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="description" content="Boostrap Forms open source framework for ASP.NET MVC">
        <meta name="author" content="Stefan Prodan">
        <meta name="keywords" content="forms, bootstrap, open source, asp.net, mvc, javascript, amd js, html5, css, sass, responsive design, mobile first">
        <title>@ViewBag.Title - BForms</title>
        @Styles.Render("~/css")

         @*For IE6-8 support of HTML5 elements and responsive*@
        <!--[if lt IE 9]>
            <script src="@Url.Content("~/Scripts/BForms/Components/Html5shiv/html5shiv.js")"></script>
            <script src="@Url.Content("~/Scripts/BForms/Components/Respond/respond.js")" type="text/javascript"></script>
        <![endif]-->

    </head>
    <body>
        @Html.Partial("_Header")

        <section id="body">
            @RenderBody()
        </section>

        @Html.Partial("_Footer")

        <div class="loading-global">
            Loading...
        </div>

        @*Highlight source code*@
        <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

        @Html.RenderRequireJsSetup(Url.Content("~/Scripts"), Url.Content("~/Scripts/requirejs/require.js"))

        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
                @Html.Partial("_Tracking")
        }
    </body>

</html>