@using BForms.Docs.Helpers
@using BForms.Html
@using BForms.Models

<div class="select_theme collapsed bs-selectTheme">
        <div class="toogle bs-toggleThemeSelect">
        <a href="#">
            <span class="glyphicon glyphicon-chevron-right closed bs-selectThemeClose" style="display:none"></span>
            <span class="glyphicon glyphicon-chevron-left open bs-selectThemeOpen" style="display: block"></span>
        </a>
        </div>
        <div class="options bs-selectThemeOptions"> 
            <p>Change theme</p>
            <ul>
            <li class="default" style="display:@(Html.GetTheme() == BsTheme.Default ? "none" : "")">
                <a href="#" data-color="@(Html.GetEnumDescription(BsTheme.Default))" data-isdefault="true">
                    <span class="color"></span> Default
                </a>
            </li>
            <li class="orange">
                <a href="#" data-color="@(Html.GetEnumDescription(BsTheme.Orange))">
                    <span class="color"></span> Orange
                </a>
            </li>
            <li class="green">
                <a href="#" data-color="@(Html.GetEnumDescription(BsTheme.Green))">
                    <span class="color"></span> Green
                </a>
            </li>
            <li class="blue">
                <a href="#" data-color="@(Html.GetEnumDescription(BsTheme.Blue))">
                    <span class="color"></span> Blue
                </a>
            </li>
            <li class="purple">
                <a href="#" data-color="@(Html.GetEnumDescription(BsTheme.Purple))">
                    <span class="color"></span> Purple
                </a>
            </li>
            <li class="black">
                <a href="#" data-color="@(Html.GetEnumDescription(BsTheme.Black))">
                    <span class="color"></span> Black
                </a>
            </li>
        </ul>
    </div>
</div>