@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_Layout.cshtml";
    ViewBag.Title = "Unexpected error";
}
<div>
    <div class="alert alert-block alert-warning fade in">
        <h4>Something went wrong!</h4>
        <p>We are sorry but an unexpected error has occurred. The support team has been informed about this problem.</p>
        <p>
            <a class="btn btn-warning" href="@Url.Action("Index", "Home", new { area = "" })">Go to home page</a>
        </p>
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div>
                <pre>
                @Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>
