@using BForms.Docs.Helpers
<h3 id="html-helpers">Razor HTML Helpers</h3>

<p>
    BForms comes with HTML Extensions that cover all the HTML5 input types,
    single and multi select lists, date and time pickers, file upload, autocomplete, range pickers.
</p>
<p>
    By decorating your models with BForms attributes you can easily define the behavior and UI appearance of each form field.
    Similar to DataAnnotations.DataType, BForms provides a <code>BsControl</code> attribute
    and a <code>BsControlType</code> enum
    that allows you to specify which type of input should be rendered by the Razor engine.
</p>

<h4 class="sub_title">        
    Form elements
</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Control type</th>
            <th>Generic helper</th>
            <th>Specialized helper</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-TextBox">TextBox</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>BsTextBoxFor</td>
        </tr>
        <tr>
            <td>2</td>
            <td>TextArea</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>BsTextAreaFor</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-Password">Password</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>BsPasswordFor</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-Url">Url</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-Email">Email</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-Number">Number</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-DatePicker">DatePicker</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-TimePicker">TimePicker</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-DatePicker">DateTimePicker</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-CheckBox">CheckBox</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>BsCheckBoxFor</td>
        </tr>
        <tr>
            <td>11</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-Radio">RadioButton</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>BsRadioButtonFor</td>
        </tr>
        <tr>
            <td>12</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-ColorPicker">ColorPicker</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>13</td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input-Upload">Upload</a></td>
            <td><a href="@Url.Action("InputExtensions", "Docs", new { area = "" })#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>14</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-Autocomplete">Autocomplete</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>15</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-DropDownList">DropDownList</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>BsDropDownListFor</td>
        </tr>
        <tr>
            <td>16</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-DropDownList">DropDownListGrouped</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>17</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-ListBox">ListBox</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>BsListBoxFor</td>
        </tr>
        <tr>
            <td>18</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-ListBox">ListBoxGrouped</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>19</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-TagList">TagList</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>BsTagListFor</td>
        </tr>
        <tr>
            <td>20</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-TagList">TagListGrouped</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>21</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-CheckBoxList">CheckBoxList</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>22</td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select-RadioButtonList">RadioButtonList</a></td>
            <td><a href="@Url.Action("SelectExtensions", "Docs", new { area = "" })#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>23</td>
            <td><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })#Range-DatePicker">DatePickerRange</a></td>
            <td><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>24</td>
            <td><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })#Range-TimePicker">TimePickerRange</a></td>
            <td><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>25</td>
            <td><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })#Range-DatePicker">DateTimePickerRange</a></td>
            <td><a href="@Url.Action("RangeExtensions", "Docs", new { area = "" })#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Label</td>
            <td>-</td>
            <td>BsLabelFor</td>
        </tr>
        <tr>
            <td>27</td>
            <td>Validation tooltip</td>
            <td>-</td>
            <td>BsValidationFor</td>
        </tr>
        <tr>
            <td>28</td>
            <td>Description tooltip</td>
            <td>-</td>
            <td>BsDescriptionFor</td>
        </tr>
        <tr>
            <td>29</td>
            <td>Glyphicon font</td>
            <td>-</td>
            <td>BsGlyphicon <small>and</small> BsGlyphiconAddon</td>
        </tr>
        <tr>
            <td>30</td>
            <td>HTML Form</td>
            <td>-</td>
            <td>BsBeginForm</td>
        </tr>
    </tbody>
</table>

<h4 class="sub_title">Controls</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Control</th>
            <th>Helper</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="@Url.Action("Grid", "Docs", new { area = "" })#grid-section">Grid</a></td>
            <td><a href="@Url.Action("Grid", "Docs", new { area = "" })#GridHelper">BsGridFor</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="@Url.Action("Toolbar", "Docs", new { area = "" })#toolbar-section">Toolbar</a></td>
            <td><a href="@Url.Action("Toolbar", "Docs", new { area = "" })#ToolbarHelper">BsToolbarFor</a></td>
        </tr>
    </tbody>
</table>
