@using BForms.Docs.Helpers
<h3 id="html-helpers">Razor HTML Helpers</h3>

<p>
    BForms comes with HTML Extensions that cover all the HTML5 input types,
    single and multi select lists, date and time pickers, file upload, autocomplete, range pickers.
</p>
<p>
    By decorating your models with BForms attributes you can easily define the behavior and UI appearance of each form field.
    Similar to DataAnnotations.DataType, BForms provides a <code>BsControl</code> attribute
    and a <code>BsControlType</code> enum
    that allows you to specify witch type of input should be rendered by the Razor engine.
</p>

<h4 class="sub_title">        
    Form elements
</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Control type</th>
            <th>Generic helper</th>
            <th>Specialized helper</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-TextBox">TextBox</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsTextBoxFor</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-TextArea">TextArea</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsTextAreaFor</td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-Password">Password</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsPasswordFor</td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-Url">Url</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-Email">Email</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-Number">Number</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-DatePicker">DatePicker</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-TimePicker">TimePicker</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-DatePicker">DateTimePicker</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-CheckBox">CheckBox</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsCheckBoxFor</td>
        </tr>
        <tr>
            <td>11</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-Radio">RadioButton</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsRadioButtonFor</td>
        </tr>
        <tr>
            <td>12</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-ColorPicker">ColorPicker</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>13</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input-Upload">Upload</a></td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>14</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-Autocomplete">Autocomplete</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>15</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-DropDownList">DropDownList</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>BsDropDownListFor</td>
        </tr>
        <tr>
            <td>16</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-DropDownList">DropDownListGrouped</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>17</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-ListBox">ListBox</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>BsListBoxFor</td>
        </tr>
        <tr>
            <td>18</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-ListBox">ListBoxGrouped</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>19</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-TagList">TagList</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>BsTagListFor</td>
        </tr>
        <tr>
            <td>20</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-TagList">TagListGrouped</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>21</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-CheckBoxList">CheckBoxList</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>22</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select-RadioButtonList">RadioButtonList</a></td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>23</td>
            <td><a href="@Url.Action("RangeExtensions","Components")#Range-DatePicker">DatePickerRange</a></td>
            <td><a href="@Url.Action("RangeExtensions", "Components")#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>24</td>
            <td><a href="@Url.Action("RangeExtensions","Components")#Range-TimePicker">TimePickerRange</a></td>
            <td><a href="@Url.Action("RangeExtensions", "Components")#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>25</td>
            <td><a href="@Url.Action("RangeExtensions","Components")#Range-DatePicker">DateTimePickerRange</a></td>
            <td><a href="@Url.Action("RangeExtensions", "Components")#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>26</td>
            <td>Label</td>
            <td>-</td>
            <td><a href="#">BsLabelFor</a></td>
        </tr>
        <tr>
            <td>27</td>
            <td>Validation tooltip</td>
            <td>-</td>
            <td><a href="#">BsValidationFor</a></td>
        </tr>
        <tr>
            <td>28</td>
            <td>Description tooltip</td>
            <td>-</td>
            <td><a href="#">BsDescriptionFor</a></td>
        </tr>
        <tr>
            <td>29</td>
            <td>Glyphicon font</td>
            <td>-</td>
            <td><a href="#">BsGlyphicon</a> <small>and</small> <a href="#">BsGlyphiconAddon</a></td>
        </tr>
        <tr>
            <td>30</td>
            <td>HTML Form</td>
            <td>-</td>
            <td><a href="#">BsBeginForm</a></td>
        </tr>
    </tbody>
</table>

<h4 class="sub_title">Controls</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Control</th>
            <th>Helper</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><a href="@Url.Action("Grid", "Docs", new { area = "" })">Grid</a></td>
            <td>BsGridFor</td>
        </tr>
        <tr>
            <td>2</td>
            <td><a href="@Url.Action("Grid", "Docs", new { area = "" })">Toolbar</a></td>
            <td>BsToolbarFor</td>
        </tr>
    </tbody>
</table>
