@using BForms.Docs.Resources
@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.ContributorIdentityEditableModel

@using (Html.BsBeginForm())
{
    <div class="col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.FirstName)">
        @Html.BsLabelFor(m => m.FirstName)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.User)
            @Html.BsInputFor(m => m.FirstName)
            @Html.BsValidationFor(m => m.FirstName)
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.LastName)">
        @Html.BsLabelFor(m => m.LastName)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.User)
            @Html.BsInputFor(m => m.LastName)
            @Html.BsValidationFor(m => m.LastName)
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Url)">
        @Html.BsLabelFor(m => m.Url)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Link)
            @Html.BsInputFor(m => m.Url)
            @Html.BsValidationFor(m => m.Url)
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.CountriesList)">
        @Html.BsLabelFor(m => m.CountriesList)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Calendar)
            @Html.BsSelectFor(m => m.CountriesList)
            @Html.BsValidationFor(m => m.CountriesList)
        </div>
    </div>
    <div class="col-sm-12 col-lg-12 form-group @Html.BsValidationCssFor(m => m.Age)">
        @Html.BsLabelFor(m => m.Age)
        <div class="input-group">
            @Html.BsGlyphiconAddon(Glyphicon.Time)
            @Html.BsInputFor(m => m.Age)
            @Html.BsValidationFor(m => m.Age)
        </div>
    </div>
    
     <div class="form-group">
         <div class="col-sm-12 col-lg-12">
             <button type="button" class="btn btn-theme bs-savePanelQuestion">Save</button>
             <button type="submit" class="btn btn-theme bs-savePanel" style="display: none" title="Save"></button>
             <button type="submit" class="btn btn-danger pull-right bs-cancelEdit">Cancel</button>
         </div>
    </div>
}