@using BForms.Docs.Resources
@using BForms.Html
@model BForms.Docs.Areas.Demo.Models.ContributorIdentityModel

<div class="bs-readonly">
    <div class="definition-table">
        @if (!string.IsNullOrEmpty(Model.FirstName))
        {
            <dl>
                <dt>firstname</dt>
                <dd>@Model.FirstName</dd>
            </dl>
        }
        @if (!string.IsNullOrEmpty(Model.LastName))
        {
            <dl>
                <dt>lastname</dt>
                <dd>@Model.LastName</dd>
            </dl>
        }
        @if (!string.IsNullOrEmpty(Model.Url))
        {
            <dl>
                <dt>url</dt>
                <dd><a href="@Model.Url" target="_blank" title="@Model.Url">@Model.Url</a></dd>
            </dl>
        }

        @if (Model.Age != null)
        {
            <dl>
                <dt>age</dt>
                <dd>@Model.Age</dd>
            </dl>
        }

        @if (!string.IsNullOrEmpty(Model.Country))
        {
            <dl>
                <dt>country</dt>
                <dd>@Model.Country</dd>
            </dl>
        }
    </div>
</div>
