@using BForms.Docs.Resources
@using BForms.Html
@using BForms.Models
@using BForms.Renderers
@model BForms.Docs.Areas.Demo.Models.ContributorDetailsReadonly

<div class="row grid_row_details" data-rowdetailsid="@Model.Id">

    <div class="col-lg-6">
        <div class="grid_details description">
            
            @(
                Html.BsPanelFor(x => x.Identity)
                    .Renderer(new BsPanelLightRenderer())
                    .Content(Html.Partial("Grid/Details/_IdentityReadonly", Model.Identity).ToString())
                    .EditableUrl(Url.Action("GetEditable"))
                    .SaveUrl(Url.Action("Update"))
                    .ObjId(Model.Id)
                    .Glyphicon(Glyphicon.User)
                    .HtmlAttributes(new {@class = "js-editableIdentity bs-editable", id = "contributor_identity"})                    
            )

        </div>
    </div>

    <div class="col-lg-6">
        <div class="grid_details description ">
            
            @(
                Html.BsPanelFor(x => x.ProjectRelated)
                .Renderer(new BsPanelLightRenderer())
                .Content(Html.Partial("Grid/Details/_ProjectRelatedReadonly", Model.ProjectRelated).ToString())
                .EditableUrl(Url.Action("GetEditable"))
                .SaveUrl(Url.Action("Update"))
                .ObjId(Model.Id)
                .Glyphicon(Glyphicon.Tags)
                .HtmlAttributes(new { @class = "js-editableProject bs-editable", id = "contributor_project" })                    
            )


        </div>
    </div>

    <div class="col-md-12 col-lg-12 bs-row_controls">
        <hr />
        @{
            var stateText = Model.Enabled ? Resource.Disable : Resource.Enable;
            var enabled = Model.Enabled;
        }
        <button type="button" class="btn btn-warning js-btn_state" data-enabled="@enabled.ToString().ToLower()">@stateText</button>
        <button type="button" class="btn btn-danger pull-right js-btn_delete">@Resource.Delete</button>
    </div>
</div>
