@using BForms.Docs.Resources
@using BForms.Html
@using BForms.Models
@model BForms.Docs.Areas.Demo.Models.ContributorDetailsModel

<div class="row grid_row_details">
    <div class="col-lg-6">
        <div id="contributor_identity" class="grid_details description js-editableIdentity">

            @Html.BsPartialPrefixed(x => x, "Grid/Details/_Identity", Model, "x" + Model.Id.ToString())
            
        </div>
    </div>

    <div class="col-lg-6">
        <div id="contributor_project" class="grid_details description js-editableProject">

            @Html.BsPartialPrefixed(x => x, "Grid/Details/_ProjectRelated", Model, "x" + Model.Id.ToString())

        </div>
    </div>

    <div class="col-lg-12 bs-row_controls">
        <hr />
        @{
            var stateText = Model.Enabled ? Resource.Disable : Resource.Enable;
            var enabled = Model.Enabled;
        }
        <button type="button" class="btn btn-warning js-btn_state" data-enabled="@enabled.ToString().ToLower()">@stateText</button>
        <button type="button" class="btn btn-danger pull-right js-btn_delete">@Resource.Delete</button>
    </div>
</div>
