@using BForms.Docs.Helpers
<h3 id="html-helpers">Razor HTML Helpers</h3>

<h5>        
    BForms Html extensions index for input, select and range elements
</h5>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Control type</th>
            <th>Generic helper</th>
            <th>Specialized helper</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>TextBox</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsTextBoxFor</td>
        </tr>
        <tr>
            <td>2</td>
            <td>TextArea</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsTextAreaFor</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Password</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsPasswordFor</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Url</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Email</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>6</td>
            <td>Number</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>7</td>
            <td>DatePicker</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>8</td>
            <td>TimePicker</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>9</td>
            <td>DateTimePicker</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>10</td>
            <td>CheckBox</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsCheckBoxFor</td>
        </tr>
        <tr>
            <td>11</td>
            <td>RadioButton</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>BsRadioButtonFor</td>
        </tr>
        <tr>
            <td>12</td>
            <td>ColorPicker</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>13</td>
            <td>Upload</td>
            <td><a href="@Url.Action("InputExtensions","Components")#Input">BsInputFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>14</td>
            <td>Autocomplete</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>15</td>
            <td>DropDownList</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>BsDropDownListFor</td>
        </tr>
        <tr>
            <td>16</td>
            <td>DropDownListGrouped</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>17</td>
            <td>ListBox</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>BsListBoxFor</td>
        </tr>
        <tr>
            <td>18</td>
            <td>ListBoxGrouped</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>19</td>
            <td>TagList</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>BsTagListFor</td>
        </tr>
        <tr>
            <td>20</td>
            <td>TagListGrouped</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>21</td>
            <td>CheckBoxList</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>22</td>
            <td>RadioButtonList</td>
            <td><a href="@Url.Action("SelectExtensions","Components")#Select">BsSelectFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>23</td>
            <td>DatePickerRange</td>
            <td><a href="@Url.Action("RangeExtensions", "Components")#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>24</td>
            <td>TimePickerRange</td>
            <td><a href="@Url.Action("RangeExtensions", "Components")#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
        <tr>
            <td>25</td>
            <td>DateTimePickerRange</td>
            <td><a href="@Url.Action("RangeExtensions", "Components")#Range">BsRangeFor</a></td>
            <td>-</td>
        </tr>
    </tbody>
</table>

<h5>
    BForms Html extensions index for non-input elements
</h5>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Element type</th>
            <th>Specialized helper</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Label</td>
            <td><a href="#">BsLabelFor</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Validation tooltip</td>
            <td><a href="#">BsValidationFor</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Glyphicon font</td>
            <td><a href="#">BsGlyphicon</a> <small>and</small> <a href="#">BsGlyphiconAddon</a></td>
        </tr>
    </tbody>
</table>
