@using BForms.Docs.Helpers
@{
    ViewBag.Title = "Get started with BForms Grid and Toolbar";
}

<div class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
                <li>
                    <a href="#grid">Grid Tutorial</a>
                    <ul class="nav">
                        <li><a href="#initial">Initial Project</a></li>
                        <li><a href="#models">Models</a></li>
                        <li><a href="#repository">Repository</a></li>
                        <li><a href="#controller">Controller</a></li>
                        <li><a href="#views">Views</a></li>
                        <li><a href="#javascript">Javascript</a></li>
                        <li><a href="#details">Row Details</a></li>
                        <li><a href="#update">Row Update</a></li>
                        <li><a href="#rowactions">Row Actions</a></li>
                        <li><a href="#bulkactions">Bulk Actions</a></li>
                        <li><a href="#reorderRows">Reorder Columns</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#toolbar">Toolbar Tutorial</a>
                    <ul class="nav">
                        <li><a href="#toolbarModels">Models</a></li>
                        <li><a href="#toolbarController">Controller</a></li>
                        <li><a href="#toolbarRepository">Repository</a></li>
                        <li><a href="#toolbarViews">Views</a></li>
                        <li><a href="#toolbarJavascript">Javascript</a></li>
                        <li><a href="#toolbarQuicksearch">Quick Search</a></li>
                        <li><a href="#toolbarNew">Add New Entity</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#code">Example Code</a>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-9 col-lg-9" role="main">
        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="introduction">Get started with BForms Grid and Toolbar</h1>
            </div>
            <p>
                BForms Grid and Toolbar components are designed to provide rich functionality, cross-browser, cross-device and internationalization support for tabular data providing full CRUD and search operations over complex datasets.
            </p>
            <p>
                The feature set includes AJAX-enabled paging, sorting, editing, filtering and built-in data repository adapted for Entity Framework that can be customized with your own query logic. The UI is touch friendly and HTML5 enhanced featuring edit in place, master-details view and multi row select with bulk actions.
            </p>
            <p>
                On the client side, the Grid is deployed as an AMD jQuery widget that supports theming and templates. The styling is done using bootstrap v3 CSS grid system.
            </p>
            <h2 id="grid">Building a Grid</h2>
            <p>
                In this tutorial, you will learn how to implement the <code>BForms.Grid</code> from scratch. We start by presenting the models we’ll use. Then will begin building the grid to present our data, step by step, adding more functionality as we go. At this step you will have a grid that displays your data, with sorting and pagination capabilities. Next step is to add editing capabilities to our rows by enabling the details for each row. We’ll also implement the Bulk Actions that will help us modify multiple rows at a time.
            </p>
            <h3 id="initial"> Initial Project </h3>
            <p>We will start from an empty MVC Project. The project will be setup to use RequireJS and BForms.  To see a guide on how to setup your initial project please follow this link: <a href="@Url.Action("Setup", "Start", new { area = "" })#setup">Setup BForms for ASP.NET MVC</a></p>
            <p>We will work with mocked data that will fake a movies database.</p>
            <h4 class="sub_title">Movie Model Class</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_Model.cs.embed")
            </pre>
            <br />
            <p>
                Our mocked data will consist in a list of movie objects added in the <code>BFormsContext</code> Constructor method. Here is an example of a movie record:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ModelInitialization.cs.embed")
            </pre>
            <br />
            <p>The <code>BFormsContext</code> Object will be instantiated in the <code>BaseController</code> class. All our controllers will inherit from <code>BaseController</code>. This way we will have access to the <code>BFormsContext</code> from inside our controllers.</p>
            
            <h3 id="models">1. Creating the Models</h3>
            <p>
                In this step we will create the models needed to build the grid. In our project let’s create a folder named ‘Models’. Add a new empty class file to this folder named ‘MoviesModels.cs’.  This file will contain all our grid related models.
            </p>
            <p>
                The first model will be the row model. This model is used by the grid widget to populate the columns and the header. The fields can be annotated with the <code>BsGridColumnAttribute</code>. This attribute can set some properties for the columns. For example, the ‘Title’ column width is set to 4, is made sortable and editable.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_RowModel.cs.embed")
            </pre>
            <br />
            <p>Here is how our grid will look for this row model:</p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-row-model.png")" />
            </div>
            <br />
            <p>
                The width of each column corresponds to the width specified in the model. The total width must be 12. Also because we have set the IsSortable property to false for the GrossRevenue column, you can see that the sorting is disabled in the grid, while for the other columns is enabled.
            </p>
            <br />
            <p>All this properties can be overridden in the view, but we’ll see this at a later time.</p>
            <p>
                However this is not enough. We still need a View Model. The grid can’t use the Row Model directly. After you define the row model you have to wrap it with the <code>BSGridModel</code> and append it to the view model.
            </p>
            <p>Here is how our Movies View Model will look like:</p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ViewModel.cs.embed")
            </pre>
            <br />
            <p>Using Data Annotation we can set the properties for the grid. We use <code>Display(Name)</code> to set the name shown above the grid header. You can see the text ‘Top Movies’ next to the number representing the total rows count.</p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-view-model.png")" />
            </div>
            <br />
            <p>We also set the <code>BsGrid(HasDetails)</code> to false. This means that the row will not expand to show more details. We’ll set this to true at a later time.</p>
            <p>If we’ll add the <code>BForms.Toolbar</code> widget, our MoviesViewModel will also contain the Toolbar model. We’ll add it at a later time. For now we only need the Grid Model.</p>
            
            <h3 id="repository">2. Creating the Grid Repository</h3>
            <p>
                In this step we will create the Movies Grid Repository. This repository will inherit from <code>BsBaseGridRepository</code> and will have to override a few methods. These methods will be used to filter and sort the grid.
            </p>
            <p>In our project let’s create a folder named ‘Repositories’. Add a new empty class file to this folder named ‘MoviesGridRepository.cs’.</p>
            <p>
                This is how the initial class will look:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GridRepository.cs.embed")
            </pre>
            <br />
            <p>
                We inherit from <code>BsBaseGridRepository</code> and we pass the <code>Movie</code> Entity and the <code>MoviesRowModel</code>. We also initialize the <code>BFormsContext</code> that we will later use to query the data set.
            </p>
            <p>
                Next we have to implement the <code>Query()</code> method.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_Query.cs.embed")
            </pre>
            <br />
            <p>
                This method is used to get the basic query. The items returned by this query will represent the total count, and will be ordered and mapped with the help of the methods we’ll implement next.
            </p>
            <p>
                The second method that we have to implement is <code>OrderQuery()</code>.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_OrderQuery.cs.embed")
            </pre>
            <br />
            <p>
                Here we use <code>orderedQueryBuilder</code> property to order the query. In this example we order the query by WeekendRevenue descending. You can use any property of your model to set the initial order for your grid. Also if you have columns that don’t have an exact correspondent in your entity model, you have to use the <code>OrderFor()</code> method to specify the mapping. In this example we specify that the Recommended property of our row model will correspond to the IsRecommended property of our Movie Entity. Another usage of the OrderFor method would be to map one column to multiple properties of the entity.
            </p>
            <p>
                The final method we must implement is <code>MapQuery()</code>. This method is used to make the select and convert your entities in row models. To do this, you will most likely implement a mapper(TEntity, TRow) to use in the select.
            </p>
            <p>Here is how the <code>MapQuery()</code> method will look like in our case:</p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_MapQuery.cs.embed")
            </pre>
            <br />
            <p>
                We also have to implement the <code>MapMovie_MovieRowModel()</code> used in the above example. This is how the mapper will look in our case:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_Mapper.cs.embed")
            </pre>
            <br />
            <p>This is a delegate that will take a <code>Movie</code> Entity and will return a <code>MovieRowModel</code>.</p>
            <p>At a later time we will enhance these methods to support search and filtering functionality.</p>
            
            <h3 id="controller">3. Creating the Controller</h3>
            <p>
                In this step we will create the Grid Controller. This controller will contain the actions needed to display the grid. We will display our grid on the home page so our controller will be named 'HomeController'.
            </p>
            <p>
                Create a new controller in the ‘Controllers’ folder. This controller will inherit from the BaseController. This is how it will look like:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_Controller.cs.embed")
            </pre>
            <br />
            <p>
                The <code>Index()</code> action of this controller will render the view that will contain our grid. However we have to do some changes before we can send the model the way our view will be expecting. We have to initialize the <code>Grid</code> Model with some initial settings like ‘Page’ and ‘PageSize’. Then we’ll use this model to initialize our View Model. The <code>View</code> Model will be send to the view. 
            </p>
            <p>
                Also we have to use <code>RequireJsOptions.Add()</code> method to send some data to the page. The data we need to send is the name of the ajax action that will be used by the grid pager to return other pages. This will be in the form of a Dictionary object that will contain for the moment only the <code>pageUrl</code> property.
            </p>
            <p>
                This is how our Index Action will look like at the end:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexAction.cs.embed")
            </pre>
            <br />
            <p>
                Next we have to implement our <code>Pager()</code> Action that will be called by ajax from our grid and will return the requested page as <code>BsJsonResult</code>. Here is the final implementation of the method:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_PagerAction.cs.embed")
            </pre>
            <br />
            <p>After we implement these actions, our controller is ready. Next we have to create the views.</p>
            
            <h3 id="views">4. Creating the Views</h3>
            <p>
                In this step we will create the <code>Grid</code> Views. The <code>_Grid</code> View will be implemented as a partial view rendered inside the <code>Index</code> View. 
            </p>
            <p>
                Let’s first create the <code>Index</code> View. To do this right click on the <code>Index()</code> Action in the Controller and choose ‘Add View’.
            </p>
            <p>
                This is how our <code>index.cshtml</code> should look like:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexView.cs.embed")
            </pre>
            <br />
            <p>
                This view is just a container for the grid view. Let’s now create the <code>_Grid</code> partial view. Here we use the <code>BsGridFor()</code> html helper to create our grid. This helper returns a <code>BsGridHtmlBuilder</code> used to build and configure the html of the grid. This way we can set the grid’s properties, add attributes on the rows, add and modify columns, set grid’s color theme, add bulk actions, etc. This is our grid partial view:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GridView.cs.embed")
            </pre>
            <br />
            <p>
                To keep it simple for the moment we only set some properties for the pager with the help of the <code>PagerSettings()</code> method, and we modify two columns with the help of <code>ConfigureColumns()</code> method.
            </p>
            <p>
                In the <code>ConfigureColumns()</code> method we change the display header of the column from <code>ReleaseDate</code> to <code>Year</code> with the help of the <code>Name()</code> method, and we also change the text so it displays only the <code>Year</code> property of the <code>ReleaseDate</code>.  For the <code>Recommended</code> column, we change the display text from true/false to Yes/No.
            </p>
            <p>
                In the <code>PagerSettings()</code> method we set the number of rows that should be displayed in the grid and we customize the look by setting some of the properties to true. With these settings the pager should look like this:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-pager.png")" />
            </div>
            <br />
            <p>
                At this moment we still have to initialize the grid in javascript. We’ll do this next.
            </p>
            
            <h3 id="javascript">5. Initializing the Grid Widget</h3>
            <p>
                In this step we will create the javascript file that will be executed when the index page loads. There are two ways of working with the BForms JS components. One way is to use <code>RequireJS.NET</code> and the other is to reference the js files directly from the <code>~/Scripts/BForms/Bundles/js</code> folder. In this example we’ll use the RequireJS way. For this let’s create the folder structure that the RequireJs expects for our views.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-js-folder.png")" />
            </div>
            <br />
            <p>
                Inside the Scripts folder create the following folder structure corresponding to our Home Controller, Index page: <code>Controllers/Root/Home/home-index.js</code>
            </p>
            <p>
                This is how the javascript file will look:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_HomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                In this javascript file we require <code>bforms-grid</code>, <code>jquery</code> and <code>bootstrap</code>. We use the jQuery document ready method to initialize our page and to get the options send from the <code>HomeController</code>. As you remember we have send as an option the ‘pageUrl’, which is a link to the action that needs to be called by the pager, to get a different page or to change the number of entries displayed. 
            </p>
            <p>
                On the page initialization we also find the grid by the id attribute and initialize it with the minimum required parameters. We only set a <code>uniqueName</code> and the <code>pagerUrl</code> properties. We will later set more properties as we enhance the functionality of our grid. 
            </p>
            <p>
                Now we have a functional grid that we can see in action.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-simple-grid.png")" />
            </div>
            <br />
            <p>
                Next step will be to enable details for the rows. This way we can modify the data and submit the changes to the server.
            </p>
            <h3 id="details">6. Enable Row Details</h3>
            <p>
                In this step we will modify our code to support row editing. For this we'll have to add a <code>Details</code> Model, create Details partial views, add new Actions to our Controller and add new options to our javascript Grid Widget.
            </p>
            <h3>The Details Model</h3>
            <p>
                First step is to create the <code>MovieDetailsModel</code>.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_DetailsModel.cs.embed")
            </pre>
            <br />
            <p>
                You should include in your <code>DetailsModel</code> all the properties from your base model that you want to modify. The details view will enable us to edit these properties.
            </p>
            <p>
                A good approach would be to split our properties in multiple parts, to reduce the data send to the server each time a user wants to modify a property. Let’s say we want to change only the <code>WeekendRevenue</code> and the <code>GrossRevenue</code> of our model. If we keep all the properties as fields in the same form, all the data will be send to the server on each request. If we separate the fields in multiple forms on the details view, only part of the data will be send. In our case we will have our model split in two parts: Info and Revenue.
            </p>
            <p>
                To implement this we need an enum that contains all the parts. This is how our <code>EditComponents</code> enum will look:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_EditComponents.cs.embed")
            </pre>
            <br />
            <p>
                The <code>Info</code> view will contain the <code>Title</code>, <code>Poster</code>, <code>Genre</code> and <code>Rating</code> fields. 
            </p>
            <p>
                The <code>Revenue</code> view will contain the <code>WeekendRevenue</code>, <code>GrossRevenue</code> and <code>ReleaseDate</code> fields.
            </p>
            <h3>The Row Model</h3>
            <p>
                We also need to change the <code>MoviesRowModel</code> to inherit from the <code>BsGridRowModel&lt;MovieDetailsModel&gt;</code>. We'll need this in the <code>_Grid</code> Partial View to create a <code>BsGridHtmlBuilder</code> object. The inherited class has an abstract method named <code>GetUniqueID()</code>, so we have to override this method to return the unique id for the Row Model.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_RowModelDetails.cs.embed")
            </pre>
            <br />
            <h3>The View Model</h3>
            <p>
                The final change we make to our models is to set the <code>HasDetails</code> parameter to <code>true</code> on the <code>MoviesViewModel</code>'s <code>Grid</code> property.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ViewModelDetails.cs.embed")
            </pre>
            <br />
            <h3>The Detail Views</h3>
            <p>
                Now that we have the Models we can move on to the Views. Before adding the details partial views we need to make some changes to the <code>_Grid</code> partial view.
            </p>
            <p>We use an overloaded method for <code>Html.BsGridFor()</code> helper that takes two parameters. The first one is the Grid Model, and we pass it from our View Model. The second parameter is a <code>BSGridHtmlBuilder</code> object. We need to create this object first.</p>
            <p>
                Here is the code that needs to be modified on the <code>_Grid</code> partial view:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GridViewBuilder.cs.embed")
            </pre>
            <br />
            <p>
                We can now use the <code>ConfigureRows()</code> method to customize the rows. We set a details template, then we add <code>objid</code> as a custom data attribute, and finaly we set a row highliter based on the <code>Recommended</code> property of our model.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GridConfigureRows.cs.embed")
            </pre>
            <br />
            <p>
                In the previous step we have set the <code>DetailsTemplate</code> for the rows to <code>Grid/Details/_Index</code>. We also pass the <code>MovieDetailsModel</code>. Now we have to create this template.
            </p>
            <p>
                As you know we have split our details model in two parts: <code>Info</code> and <code>Revenue</code>. This will correspond to two partial views named <code>_Info</code> and <code>_Revenue</code>. Each of these views will include a <code>Readonly</code> and an <code>Editable</code> partial views.
            </p>
            <p>
                The final structure of the Views Folder will look like this:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-grid-views.png")" />
            </div>
            <br />
            <p>In the next part we'll take a look at the code for each view.</p>
            <h3>The Details Index View</h3>
            <p>
                The <code>_Index</code> view includes the <code>_Info</code> and the <code>_Revenue</code> partial views using the <code>Html.BsPartialPrefixed()</code> helper method.
            </p>
            <p>
                Also in this view we add two buttons that will be available in each row. The <code>State</code> Button which will toggle the <code>Recommended</code> property of our model, and the <code>Delete</code> Button which will delete the row from the grid and from the database.
            </p>
            <p>
                The classes used on this button elements will be later used in the javascript file to identify the buttons and to attach event handlers on them. We used <code>js-btn_state</code> for the Recommended Button, and <code>js-btn_delete</code> for the Delete Button.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_DetailsIndexView.cs.embed")
            </pre>
            <br/>
            <p>This is how a expanded row will look like at the end:</p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-row-expand-readonly.png")" />
            </div>
            <br />
            <p>We still need to implement our <code>_Info</code> and <code>Revenue</code> pages.</p>
            <p>
                The <code>_Info</code> view creates an editable widget and loads the <code>_InfoReadonly</code> and <code>_InfoEditable</code> partial views. By default the Readonly page is displayed. To enable editing the user has to click the 'Pencil' icon in the <code>&lt;h3&gt;</code> that has the class <code>open-editable</code>.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_InfoView.cs.embed")
            </pre>
            <br />
            <p>
                The <code>_InfoReadonly</code> partial view shows the <code>Poster</code>, <code>Title</code>, <code>Rating</code> and <code>GenresList</code> properties of our <code>MoviesDetailsModel</code>.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_InfoReadonlyView.cs.embed")
            </pre>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-info-readonly.png")" />
            </div>
            <br />
            <p>
                <code>_InfoEditable</code> partial views uses some <code>BForms</code> helpers to render the form fields.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_InfoEditableView.cs.embed")
            </pre>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-info-editable.png")" />
            </div>
            <br />
            <p>
                The code to save, delete or toggle the <code>Recommended</code> property will be later implemented in the Controller.
            </p>
            <p>
                The <code>_Revenue</code> view is similar.
            </p>
            <h3>The Controller</h3>
            <p>
                In order to display the details on our page we have to make an ajax request to the server. The server will return the html used to render the details. For this we have to add a <code>GetRows()</code> Action to our controller.
            </p>
            <p>This is how the <code>GetRows()</code> Action will look:</p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GetRowsActionController.cs.embed")
            </pre>
            <br />
            <p>
                <code>GetRows()</code> Action calls <code>GetRowsHtml()</code> NonAction, to return the details for the requested rows. <code>GetRowsHtml()</code> calls <code>ReadRows()</code> in the repository.
            </p>
            <p>
                The <code>ReadRows()</code> method gets the entities from the database by their Ids, converts them to <code>RowModel</code> and returns them as a List.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ReadRowsGridRepository.cs.embed")
            </pre>
            <br />
            <p>
                Finally we have to add the <code>getRowsUrl</code> and <code>editComponents</code> options to the RequireJs options dictionary. This way we can access them from the javascript file.
            </p>
            <p>
                Here is how the <code>options</code> dictionary will look like for the <code>Index()</code> Action:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_OptionsGetRowsIndexAction.cs.embed")
            </pre>
            <br />
            <h3>The Details JavaScript</h3>
            <p>
                In this section we'll write the code we need in our <code>home-index.js</code> script file to display the details for each row.
            </p>
            <p>
                Now that we have the <code>getRowsUrl</code> from the controller we can pass it to our grid. We also need to pass two handles that will be called before and after the <code>Row Details</code> ajax call is successful. The grid properties that need to be set are <code>beforeRowDetailsSuccess</code> and <code>afterRowDetailsSuccess</code>.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_detailsUrlHomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                The <code>_beforeDetailsSuccessHandler</code> sets the options for the editable views, like the <code>updateUrl</code> and <code>editSuccessHandler</code>, by calling the <code>_editableOptions()</code> method.
            </p>
            <p>
                The <code>_afterDetailsSuccessHandler</code> validates the returned row.
            </p>
            <p>
                Here is the code that needs to be implemented:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_detailsHandlersHomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                For the validation we need to require more scripts before this page loads. The scripts that we need are <code>bforms-validate</code>, <code>bforms-validate-unobtrusive</code> and also <code>bforms-ajax</code>.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_RequireHomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                The <code>_editableOptions()</code> method needs to know the <code>updateUrl</code>. This url will be called when the user clicks the save button in the editable view. We also need to implement the <code>Update()</code> Action in the Controller.
            </p>

            <h3 id="update">7. Editing and Updating the Rows</h3>
            <p>
                To update the changes made to a row the grid will make an ajax call to the <code>Update()</code> Action on the Controller.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_UpdateActionController.cs.embed")
            </pre>
            <br />
            <p>
                The <code>Update()</code> Action receives the modified <code>MovieDetailsModel</code> and the <code>EditComponents</code> componentId. It clears the state of the model based on the component id by calling the <code>ClearModelState</code> NonAction in the same controller.
            </p>
            <p>
                This is how the <code>ClearModelState()</code> NonAction is implemented:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ClearModelStateController.cs.embed")
            </pre>
            <br />
            <p>
                After the model state is cleared, the <code>Update()</code> method in the repository is called. This will save the changes in the database and will return the details model after it fills the dropdowns and lists used in the model.
            </p>
            <p>This is the code for the <code>Update()</code> method in the Repository.</p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_UpdateGridRepository.cs.embed")
            </pre>
            <br />
            <p>
                Also in the <code>Update()</code> Action we call the <code>ReadRow()</code> method in the repository to return the row model.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ReadRowGridRepository.cs.embed")
            </pre>
            <br />
            <p>
                We also need to add the <code>updateUrl</code> to the RequireJs options.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_OptionsUpdateIndexAction.cs.embed")
            </pre>
            <br />
            <h3 id="rowactions">8. Row Actions</h3>
            <p>
                We want to add two buttons to each row. One to toggle the <code>Recommended</code> property and one to delete the row. The buttons will be visible when the row is expanded.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-row-actions.png")" />
            </div>
            <br />
            <p>
                To implement the <code>Delete</code> and <code>Recommended</code> buttons we have to provide to the grid an array of <code>rowAction</code> objects. We implement this in the <code>home-index.js</code> file. This is how the <code>initGrid</code> method will look at the end:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_gridInitHomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                The <code>rowActions</code> option takes an array of json objects. One object for each button. In each object we set the url for the action on the server, the selector for the button element and the handler.
            </p>
            <p>
                Here are the handlers for the <code>Delete</code> and <code>Recommended</code> buttons in the javascript file:
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_rowActionsHandlersHomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                The handlers make ajax calls to the server. We need to implement the <code>Delete</code> and the <code>Recommended</code> actions on the Controller.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_DeleteRecommendActionController.cs.embed")
            </pre>
            <br />
            <p>
                We also need to implement the actual <code>Delete</code> and <code>Recommend</code> toggle methods in the repository.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_DeleteRecommendGridRepository.cs.embed")
            </pre>
            <br />
            <p>
                The final step is to add the <code>deleteUrl</code> and <code>recommendUnrecommendUrl</code> to the RequireJs options.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexActionFinal.cs.embed")
            </pre>
            <br />
            <p>
                Now we have a functional grid. We can edit, delete and toggle the recommendation for each row. This is how the grid looks like with an expanded row.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-grid-final.png")" />
            </div>
            <br />
            <h3 id="bulkactions">9. Bulk Actions</h3>
            <p>
                Bulk Actions are actions applied to multiple rows at the same time. When Bulk Actions are enabled, a checkbox control is rendered next to each row. You can manually select multiple rows, or you can apply a filter.
            </p>
            <p>
                In our Top Movies Grid we will filter the columns by the <code>Recommended</code> property. For example, we will be able to select all recommended Movies and call the delete bulk action to erase all the selected rows from the grid at the same time. 
            </p>
            <h4>Adding Bulk Actions to the Grid View</h4>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-bulk-actions.png")" />
            </div>
            <br />
            <p>
                To render the buttons on the page, we need to call two functions on the <code>Html.BsGridFor()</code> Helper. <code>GridResetButton()</code> to render a Bulk Reset Button and <code>ConfigureBulkActions()</code> to add three more buttons - Recommend, Unrecommend and Delete.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GridViewBulkActions.cs.embed")
            </pre>
            <br />
            <p>
                As you can see in the above code, we use <code>AddAction()</code> to add the buttons, and <code>AddSelector()</code> to add the options for the filter dropdown.
            </p>
            <p>
                Here is how the grid should look like:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-filter-buttons.png")" />
            </div>
            <br />
            <h3>Bulk Actions Javascript</h3>
            <p>
                Now that we have the buttons added to the page we have to initialize them in the javascript file. 
            </p>
            <p>
                To initialize the Filter Selector we pass an array of objects to the <code>filterButtons</code> property of our grid widget, representing the selector and the filter function that will be called when the filter is selected.
            </p>
            <p>
                To initialize the Bulk Action buttons we need to pass an array of objects to the <code>gridActions</code> property of our Movies Grid widget, representing the selector and handler for each button.
            </p>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_BulkActionsHomeIndexJs.cs.embed")
            </pre>
            <br />
            <p>
                In the delete action we also set the <code>popover</code> option to <code>true</code>. This will enable the confirmation popup for the delete action.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-popup.png")" />
            </div>
            <br />
            <p>
                Now the Bulk Actions are functional. On the server we call the existing methods for delete and recommend/unrecommend actions. If you implement a custom action you have to send the URL in the RequireJs Options from the controller.
            </p>
            <h3 id="reorderRows">10. Reorder Grid Columns and Save Order to Session State</h3>
            <p>
                The <code>Grid Widget</code> alows <code>Grid Columns</code> to be reordered by Drag and Drop the column header. However, to persist the new column order we have to save it to the <code>Session</code> and read it on page refresh.
            </p>
            <h4 class="sub_title">Before Reordering Grid Columns</h4>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-reorder-before.jpg")" />
            </div>
            <br />
            <h4 class="sub_title">Drag And Drop Column Reorder</h4>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-reorder-columns.jpg")" />
            </div>
            <br />
            <h4 class="sub_title">After Reordering Grid Columns</h4>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-reorder-after.jpg")" />
            </div>
            <br />
            <p>
                Let's make sure we store the new column order to the <code>Session State</code> so we can read it later. For this we have to make some changes to the <code>HomeController</code>.
            </p>
            <p>
                Let's start by adding the <code>SetGridSetting()</code> and <code>GetGridSettings()</code> NonAction Helper methods to the Controller.
            </p>
            <h4 class="sub_title">Get Set Grid Settings</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GetSetGridSettings.cs.embed")
            </pre>
            <br />
            <p>
                We store the new columns order as <code>GridSettings</code>. We use the <code>SetGridSettings()</code> method to save the new order to Session State, and  <code>GetGridSettings()</code> method to read the column order data from the Session.
            </p>
            <p>
                The new column order is saved in the <code>Pager()</code> action. Let's see how we modified the Action to accomplish this.
            </p>
            <h4 class="sub_title">Modified Pager Action</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_PagerActionReOrder.cs.embed")
            </pre>
            <br />
            <p>
                Inside <code>Pager()</code> Action we make a call to <code>SaveGridSettings(settings)</code>. This way any changes to the grid made by the user will be saved to the Session State.
            </p>
            <p>
                Now that we have the data saved, we can read it inside the <code>Index()</code> Action, and also inside <code>GetRowsHtml()</code>.
            </p>
            <h4 class="sub_title">Modified Index Action</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexActionReOrder.cs.embed")
            </pre>
            <br />
            <p>
                We use <code>GetGridSettings()</code> to get the saved settings from the Session State. If it exists we modify <code>bsGridSettings</code> object and send it as an argument to <code>_gridRepository.ToBsGridViewModel()</code>.
            </p>
            <p>
                We have to do the same inside <code>GetRowsHtml()</code> Action.
            </p>
            <h4 class="sub_title">Modified Get Rows Html NonAction</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GetRowsHtmlActionReOrder.cs.embed")
            </pre>
            <br />
            <p>
                <code>GetRowsHtml()</code> NonAction is used inside <code>GetRows()</code> Action and also inside <code>RecommendUnrecommend()</code> Action.
            </p>
            <p>
                Now the user can reorder grid columns, and the new order will persist on page refresh.
            </p>
            <br />
            <h2 id="toolbar">Building a Toolbar for the Grid</h2>
            <p>
                Now that we have a functional grid we can implement the <code>BForms.Toolbar</code> for it. The toolbar will have search functionality and will be able to filter the grid by using both <code>Advanced Search</code> and <code>Quick Search</code>. Later we will add functionality to create <code>New</code> entities and add them to the grid.
            </p>
            <h3 id="initialToolbar">Initial Project </h3>
            <p>
                We will start from where we left with the Grid Tutorial and we will add the Toolbar with <code>AdvancedSearch</code> functionality. To add the toolbar we have to add new code and also modify existing code. You will see all the changes in the following steps. We will start by making changes to our models.
            </p>
            <h3 id="toolbarModels">1. Creating the Toolbar and Search Models</h3>
            <p>
                In this step we will create the models needed to build the toolbar. Because we want to filter the grid, we add the search functionality to the toolbar. There are two built in ways to filter the grid: <code>Advanced Search</code> and <code>Quick Search</code>.
            </p>
            <p>
                <code>Advanced Search</code> uses a custom partial view that will display inputs and controls, used to filter the grid on different properties, provided by us in the <code>SearchModel</code>. 
            </p>
            <p>
                <code>Quick Search</code> uses an input text placed directly on the toolbar, where the user can input text that will filter the grid on multiple model properties, as he types. 
            </p>
            <p>
                We will implement both, but we will start with <code>Advanced Search</code>.
            </p>
            <p>
                The <code>Search Model</code> is used by the toolbar widget to populate the <code>Advanced Search</code> partial view. The fields can be annotated with the <code>BsControlAttribute</code>. This attribute will tell the view what type of control to render for that specific property.
            </p>
            <h4 class="sub_title">Movie Search Model Class</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_SearchModel.cs.embed")
            </pre>
            <br />
            <p>
                As you can see, we use only three properties to filter the grid, but you can use as many as you like. The actual filter functionality will be added later inside the repository.
            </p>
            <br />
            <p>
                Now we can modify the <code>MoviesViewModel</code>. We have to add the <code>Toolbar</code> property that will be of type <code>BsToolbarModel&lt;MoviesSearchModel&gt;</code>.
            </p>
            <p>
                This is how the <code>MoviesViewModel</code> will look like:
            </p>
            <h4 class="sub_title">Movies View Model Class</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ViewModelToolbar.cs.embed")
            </pre>
            <br />
            <p>
                The <code>BsToolbar</code> attribute is used here to set the theme for the toolbar. The theme is set to Black in this case: <code>[BsToolbar(Theme = BsTheme.Black)]</code>. We can choose a different theme for the toolbar, regardless of the theme used for the grid.
            </p>
            <br />
            <h3 id="toolbarController">2. Modifying the Controller</h3>
            <p>
                In this step we will modify the Controller, to accomodate the changes made to our models. The search data will be passed between the client an the server with the help of a settings object of type <code>BsGridRepositorySettings</code>. The settings object will contain information about the Grid Pager, Column Order, Quick Search and Advanced Search.
            </p>
            <p>
                We will create the <code>BsGridRepositorySettings</code> object inside the <code>Index()</code> Action of the Controller. After we create it, we use it as a parameter when we create the initial grid model, used to be passed to the view. We will also instantiate a toolbar, and asign it to the <code>MoviesViewModel</code> - <code>Toolbar</code> property. 
            </p>
            <p>
                This is how the <code>Index()</code> Action should look like:
            </p>
            <h4 class="sub_title">Index Action</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexActionSearchToolbar.cs.embed")
            </pre>
            <br />
            <p>
                We use <code>GetSearchForm()</code> method from the repository to fill and initialize the Search form controls. We will add this method in the next step.
            </p>
            <p>
                Also in the Controller we have to modify the <code>Pager()</code> Action to bind it to the setting object that will be sent via Ajax by the page. The settings object passed as parameter should be of type <code>BsGridRepositorySettings&lt;MoviesSearchModel&gt;</code>.
            </p>
            <h4 class="sub_title">Pager Action</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_PagerActionToolbar.cs.embed")
            </pre>
            <br />
            <p>
                The <code>settings</code> object is serialized and send between the page and the controller. It contains QuickSearch, Advanced Search and Grid settings, and it is used in the Controller to build the database query on each request.
            </p>
            <br />
            <h3 id="toolbarRepository">3. Modifying the Repository</h3>
            <p>
                The first method we need to add is <code>GetSearchForm()</code>. In this method you can populate dropdowns or other custom controls you might use. We use it to set up the Date Range Picker control.
            </p>
            <h4 class="sub_title">GetSearchForm Repository Method</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GetSearchForm.cs.embed")
            </pre>
            <br />
            <p>
                Next step is to modify the <code>Query()</code> method in such way that it filters the results before returning the query.
            </p>
            <h4 class="sub_title">Modified Query Method</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_QueryToolbar.cs.embed")
            </pre>
            <br />
            <p>
                The <code>Query()</code> method calls the <code>Filter()</code> method before returning the query. This way the result will be filtered if the user submitted the <code>Search</code> Form.
            </p>
            <p>
                This is how the <code>Filter()</code> method should look like:
            </p>
            <h4 class="sub_title">Filter Method</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_Filter.cs.embed")
            </pre>
            <br />
            <p>
                The <code>Filter()</code> method checks if the <code>Settings</code> property is not null and also if it has <code>Search</code> data.
            </p>
            <p>
                It then uses the <code>Search</code> data to filter the query. In this case we filter the query by <code>ReleaseDate</code>, <code>Title</code> and <code>Recommended</code> properties.
            </p>
            <p>
                Last we should to add the <code>Settings</code> property for our repository:
            </p>
            <h4 class="sub_title">Settings Property</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_SettingsGridRepository.cs.embed")
            </pre>
            <h3 id="toolbarViews">4. Adding the Toolbar and Search Views</h3>
            <p>
                Now it's time to add the Views for the Toolbar and for the Advanced Search. Inside the <code>Views/Home</code> folder create a new folder named <code>Toolbar</code>. Inside this folder create two partial views. 
            </p>
            <p>
                The first one will be the <code>_Toolbar</code> partial view, that will be included just above the grid view inside the index view.
            </p>
            <p>
                The second view will be the <code>_Search</code> partial view that will contain all the fields for the Advanced Search, and will be included as an action inside the toolbar view.
            </p>
            <p>
                This is how the folders structure and the views should look like:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-toolbar-views.jpg")" />
            </div>
            <br />
            <h4 class="sub_title">Toolbar Partial View</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ToolbarView.cs.embed")
            </pre>
            <br />
            <p>
                The toolbar view uses <code>Html.BsToolbarFor(x => x.Toolbar)</code> helper to render the toolbar. We can chain diferent functions to this helper to setup the toolbar the way we want. 
            </p>
            <p>
                In this case we used just <code>DisplayName("Top Movies")</code> to change the dysplay name, and <code>ConfigureActions(ca => ca.Add(BsToolbarActionType.AdvancedSearch)</code> to add a predefined AdvancedSearch button to the toolbar. 
            </p>
            <p>
                The panel opend by the AdvancedSearch button is set with the <code>Tab(x => Html.BsPartialPrefixed(y => y.Search, "Toolbar/_Search", x))</code>. This tells the toolbar to use the <code>_Search</code> partial view for the AdvancedSearch Tab.
            </p>
            <p>
                There are predefined <code>BsToolbarActionType</code> for QuickSearch, AdvancedSearch, New and Order, but you can add your own custom action or use an <code>ActionLink</code>.
            </p>
            <br />
            <h4 class="sub_title">Search Partial View</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_SearchView.cs.embed")
            </pre>
            <br />
            <p>
                The <code>_Search</code> partial view uses <code>Html.BsBeginForm()</code> to render a form that contains a field for each of our search model properties. We use <code>BForms</code> controlls like <code>BsRangeFor()</code> and <code>.BsSelectFor</code>.
            </p>
            <p>
                Also the view contains two buttons, one for submitting the search data to the server and one to cancel and reset the form fields. The buttons will be referenced in the JavaScript files with the help of the <code>js-btn-search</code> and <code>js-btn-reset</code> classes.
            </p>
            <br />
            <h4 class="sub_title">Modified Index View</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexViewToolbar.cs.embed")
            </pre>
            <br />
            <p>
                The modified <code>Index</code> View now includes the <code>Html.Partial("Toolbar/_Toolbar", Model)</code> just above the grid partial view, inside the <code>Html.BsGridWrapper()</code>.
            </p>
            <p>
                If we build the project, the toolbar will be shown, but it won't be functional yet. We still have to initialize it inside the javascript file.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-toolbar-collapsed-grid.png")" />
            </div>
            <br />
            <h3 id="toolbarJavascript">5. Initializing the Toolbar Widget</h3>
            <p>
                Now that we have the views we can initialize the Toolbar and the Toolbar Actions in the javascript file.
            </p>
            <p>
                Inside the Scripts folder, modify the <code>Controllers/Root/Home/home-index.js</code> to initialize the Toolbar Widget and to add the search functionality.
            </p>
            <h4 class="sub_title">Modified Home Index Javascript</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_HomeIndexJsToolbar.cs.embed")
            </pre>
            <br />
            <p>
                In the code snippet above are included only the modified parts. 
            </p>
            <p>
                First we have to include <code>'bforms-toolbar'</code> in the <code>require()</code> function. This way the bforms-toolbar javascript code will be loaded before we execute the code in our page.
            </p>
            <p>
                Next we use jquery to reference the toolbar element <code>this.$toolbar = $('#toolbar');</code> and we call the <code>this.initToolbar();</code> function.
            </p>
            <p>
                The <code>initToolbar()</code> function uses <code>.bsToolbar()</code> method to initialize the toolbar widget and to set the initial properties. In this example we only set the minimum necessary, but it will get more complicated as we add more and more functionality to our toolbar.
            </p>
            <p>
                Now the toolbar is functional and we can use the <code>Advanced Search</code> to filter the grid rows. This is how the toolbar should look like with the search tab open:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-toolbar-search-open.png")" />
            </div>
            <br />
            <h3 id="toolbarQuicksearch">6. Adding QuickSearch Functionality</h3>
            <p>
                QuickSearch will be represented by a textbox rendered inside the toolbar. When the user wants to search after a keyword in any of the grid columns, the grid will be filtered as he types.
            </p>
            <p>
                The <code>QuickSearch</code> text will be added to the <code>Settings</code> object, and will be sent via Ajax to the Controller. We need to modify our query inside the repository to take into consideration this QuickSearch string.
            </p>
            <p>
                We also have to modify the <code>_Toolbar</code> view to add the <code>QuickSearch</code> control to the toolbar. 
            </p>
            <p>
                The <code>QuickSearch</code> and <code>AdvancedSearch</code> will be initialized automaticaly inside the javascript file. So we won't change the js file in this step. You only have to initialize manually any custom controls you might add to the toolbar.
            </p>
            <p>
                Lets start by modifying the <code>_Toolbar</code> view.
            </p>
            <h4 class="sub_title">Modified Toolbar View</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ToolbarViewQuickSearch.cs.embed")
            </pre>
            <br />
            <p>
                We use <code>Add&lt;BsToolbarQuickSearch&gt;()</code> helper inside the <code>ConfigureActions()</code> method to add the <code>QuickSearch</code> control to the toolbar.
            </p>
            <p>
                The <code>Placeholder()</code> helper is used to set the placeholder attribute of the QuickSearch TextBox. You can use any string as a parameter, or a Resource if you want to localize the control.
            </p>
            <p>
                This is how the toolbar should look like now:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-toolbar-quicksearch.jpg")" />
            </div>
            <br />
            <p>
                The <code>QuickSearch</code> Textbox is not functional yet. We have to modify the <code>Filter()</code> method inside the Repository.
            </p>
            <h4 class="sub_title">Modified Filter Method</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_FilterQuickSearch.cs.embed")
            </pre>
            <br />
            <p>
                We added another test to see if the user typed something into the QuickSearch field. If yes, we capture the searched term and filter the results. In this example we test if the search term matches any title or movie genre. You can use any property of the <code>Movie</code> Entity.
            </p>
            <p>
                If no <code>QuickSearch</code> term is present it will test if there is any <code>Advanced Search</code> data submitted. It won't use both <code>QuickSearch</code> and <code>AdvancedSearch</code> at the same time.
            </p>
            <p>
                Here is how the grid looks like when we type into the <code>QuickSearch</code> TextBox the <code>"Comedy"</code> genre:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-quicksearch-comedy.jpg")" />
            </div>
            <br />
            <h3 id="toolbarNew">7. Adding New Entities</h3>
            <p>
                An important functionality we can add to the toolbar is the abillity to add new rows to the grid. We will use an <code>Add</code> button in the toolbar to open a new form. When the form is submitted, the new <code>Movie</code> entity is added to the database, and the grid is refreshed.
            </p>
            <p>
                For this we need to add a new model and view and then to make some changes to the controller.
            </p>
            <p>
                We start by adding the <code>MoviesNewModel</code> that will be used to fill the <code>New</code> form, and send the data to the server.
            </p>
            <h4 class="sub_title">Movies New Model Class</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_NewModel.cs.embed")
            </pre>
            <br />
            <p>
                This model must represent the <code>Movie</code> model. As you can see, we have all the properties needed to create a new <code>Movie</code> Entity.
            </p>
            <p>
                We annotate the properties with <code>Display</code> attributes, <code>Required</code> attributes and <code>BsControl</code> attributes, as needed. This way we ensure that the fields will display and behave correctly in the view.
            </p>
            <p>
                We also need to include the <code>MoviesNewModel</code> inside the <code>Toolbar</code> constructor. To do this we edit the <code>MoviesViewModel</code> and we replace tha constructor that takes only the <code>MoviesSearchModel</code> with an overloaded constructor. This constructor will also accept the <code>MoviesNewModel</code>.
            </p>
            <p>
                You can see how the modified <code>MoviesViewModel</code> should look like in the snippet below.
            </p>
            <h4 class="sub_title">Modified Movies View Model</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ViewModelToolbarNew.cs.embed")
            </pre>
            <br />
            <p>
                Now we can create the <code>_New</code> partial view inside the <code>Views/Home/Toolbar</code> Folder right next to the <code>_Toolbar</code> view.
            </p>
            <h4 class="sub_title">New Partial View</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_NewView.cs.embed")
            </pre>
            <br />
            <p>
                This view looks much like our editable <code>Details</code> views. The main difference is the <code>Add button</code> that has a data attribute set to point to the <code>New</code> Action in the Controller. We will create this action a little later.
            </p>
            <p>
                The <code>Add</code> button is initialize automaticaly in javascript. All you need to do is to add the <code>js-btn-save</code> class.
            </p>
            <p>
                Now that we have the <code>_New</code> partial view we can modify the <code>_Toolbar</code> view.
            </p>
            <h4 class="sub_title">Modified Toolbar View</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_ToolbarViewNew.cs.embed")
            </pre>
            <br />
            <p>
                We add the the <code>_New</code> button and form just like we did with the <code>AdvancedSearch</code>. The difference is that we use <code>BsToolbarActionType.Add</code> instead of <code>BsToolbarActionType.AdvancedSearch</code>. We also have to provide the <code>_New</code> partial view inside the <code>Tab()</code> helper.
            </p>
            <p>
                This is how the toolbar should look like with the collapdes <code>Add</code> button:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-toolbar-add-collapsed.jpg")" />
            </div>
            <br />
            <p>
                We still have to modify the Controller to make it work.
            </p>
            <p>
                The first step is to modify the <code>Index()</code> Action.
            </p>
            <h4 class="sub_title">Modified Index Action</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_IndexActionNewToolbar.cs.embed")
            </pre>
            <br />
            <p>
                We modify the action to use the updated view model constructor <code>BsToolbarModel&lt;MoviesSearchModel, MoviesNewModel&gt;</code>
            </p>
            <p>
                We also need to fill the <code>Toolbar.New</code> model by using <code>New = _gridRepository.GetNewForm()</code>
            </p>
            <p>
                Next we will add the <code>GetNewForm()</code> function to the repository.
            </p>
            <h4 class="sub_title">Get New Form Method</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_GetNewForm.cs.embed")
            </pre>
            <br />
            <p>
                This repository method is used to fill the form controls with initial data. We only initialize the <code>Genres Select List</code> and the <code>Release Date Picker</code>.
            </p>
            <p>
                Now we can visualize the uncollapsed <code>New</code> form inside the toolbar.
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-toolbar-new.jpg")" />
            </div>
            <br />
            <p>
                The last step is to add the <code>New()</code> Action to the controller. This Action is used when the form is submitted.
            </p>
            <h4 class="sub_title">New Controller Action</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_NewActionController.cs.embed")
            </pre>
            <br />
            <p>
                This action gets the <code>Toolbar</code> model and calls the <code>_gridRepository.Create(model.New)</code> Method.
            </p>
            <p>
                The <code>Create()</code> method will create the new entity and will return the row model for this entity. Then the grid will be updated with the newly added row.
            </p>
            <p>
                Here is how the <code>Create()</code> method should look like in the repository:
            </p>
            <h4 class="sub_title">Create Method Repository</h4>
            <pre class="prettyprint bs-example">
@Html.InsertFileContentCached("~/Views/Start/Grid/Source/_CreateRepository.cs.embed")
            </pre>
            <br />
            <p>
                After we create the new <code>Movie</code> Entity, we call <code>db.Movies.Add(entity)</code> and <code>db.SaveChanges()</code> to save the changes to the database.
            </p>
            <p>
                At last we use <code>MapMovie_MovieRowModel(entity)</code> to map the entity to the row model, and we return it.
            </p>
            <p>
                This is how the grid looks like with new rows added:
            </p>
            <div class="bs-example bs-img-example">
                <img src="@Url.Content("~/Content/images/docs/eg-grid-new-row.jpg")" />
            </div>
            <br />
            <p>
                Now we have a fully functional grid and toolbar. We can add new rows, we can filter the grid with <code>QuickSearch</code> and <code>AdvancedSearch</code>, and we can edit existing rows.
            </p>
            <br />
            <h2 id="code">MoviesTop - Grid and Toolbar Example Code</h2>
            <br />
            @Html.Partial("~/Views/Start/Grid/Docs/_Movies.cshtml")
        </div>
    </main>
</div>

