@using BForms.Docs.Helpers
<h3 id="Example">Complete example</h3>
<br/>

<p>
    Get items, create new builder:
</p>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_BuilderConstructorExample.cs.embed")
</pre>

<br />

<p>
    Configure header:
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_HeaderConfigExample.cs.embed")
</pre>

<br />

<p>
    Configure rows:
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_RowsConfigExample.cs.embed")
</pre>

<br />

<p>
    Configure columns:
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_ColumnsConfigExample.cs.embed")
</pre>

<br/>

<p>
    Return excel result:
</p>

<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Docs/Excel/Source/_CompleteExample.cs.embed")
</pre>
