@using BForms.Docs.Resources
@using BootstrapForms.Html
@using BootstrapForms.Models
@model BForms.Docs.Areas.Demo.Models.UsersSearchModel

<div id="toolbar_search" class="grids_header_expand" style="display: none;">
    @using (Html.BeginForm())
    {
        <div class="basic">
            <div class="row form-container">

                <div class="col-12 col-sm-4 col-lg-5 form-group">
                    @Html.BsLabelFor(m => m.Name)
                    <div class="input-group">
                        @Html.BsInputFor(m => m.Name)
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-4 form-group">
                    @Html.BsLabelFor(m => m.RegisterDate)
                    <div class="input-group">
                        @Html.BsGlyphiconAddon(Glyphicon.Calendar)
                        @Html.BsRangeFor(m => m.RegisterDate)
                    </div>
                </div>

                <div class="col-12 col-sm-4 col-lg-3 form-group">
                    @Html.BsLabelFor(m => m.IsEnabled)
                    <div class="input-group">
                        @Html.BsSelectFor(model => model.IsEnabled)
                    </div>
                </div>
            </div>
        </div>

    <div class="grids_header_submit">
        <button type="submit" class="btn btn-default js-btn-search">@Resource.Search</button>
        <a href="#" class="js-btn-reset">@Resource.Reset</a>
    </div>
    }
</div>
