@using BForms.Docs.Helpers
<h3 id="Range-DatePicker">Date and Datetime Range Picker</h3>

<p>        
    In order to render a range input of type date or datetime you will need to use the
    <code>@@Html.BsRangeFor</code> helper extension and
    decorate your model property of type <code>BsRange</code> with <code>[BsControl(BsControlType.DatePickerRange)]</code> 
    or <code>BsControlType.DateTimePickerRange</code>.
    Using <code>BsRange&lt;DateTime?&gt;</code> will enforce datetime validation on both client and server side using the specified culture.
</p>

<h4 class="sub_title">Example Date</h4>    
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/datepicker-range.jpg")">
</div>

<h4 class="sub_title">Model Date</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/RangeExtensions/Source/DatePickerRangeModel.cs.embed")
</pre>

<h4 class="sub_title">Example DateTime</h4>
<div class="bs-example bs-img-example">
    <img src="@Url.Content("~/Content/images/docs/datetimepicker-range.jpg")">
</div>

<h4 class="sub_title">Model DateTime</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/RangeExtensions/Source/DateTimePickerRangeModel.cs.embed")
</pre>

<h4 class="sub_title">View</h4>
<pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Components/RangeExtensions/Source/DatePickerRangeView.cshtml.embed")
</pre>

