@using BootstrapForms.Html
@using BootstrapForms.Models
@{
    ViewBag.Title = "BForms Framework";
}

<div class="bs-docs-section">

    <div class="jumbotron">
        <h1>Bootstrap Forms for ASP.NET MVC</h1>
        <p>The BFroms open source framework consists of a collection of ASP.NET MVC HTML Helpers, Javascript AMD modules and custom CSS made with SASS that extends Twitter Bootstrap Version 3.x</p>
        <a class="btn btn-lg btn-default" href="@Url.Action("Overview", "Components")">Getting started »</a>
        
    </div>
    <div class="bs-link">
            <ul class="bs-link-buttons">
                <li class="current-version">
                    @Html.BsGlyphicon(Glyphicon.Time) Version <strong>0.0.1</strong> Pre Alpha
                </li>

                <li>
                    <a href="#">@Html.BsGlyphicon(Glyphicon.Tasks) Changelog</a>
                </li>
                <li>
                    <a href="https://github.com/stefanprodan/bforms">@Html.BsGlyphicon(Glyphicon.File) Source code</a>
                </li>
                <li>
                    <a href="#">@Html.BsGlyphicon(Glyphicon.Compressed) Packages</a>
                </li>
            </ul>
    </div>

    <div class="row bs-docs-tech">

        <div class="col-md-4 col-lg-4">
            <h2><a href="#">.NET Integration</a></h2>
            <p>
                The BForms framework smoothly integrates Bootstrap with ASP.NET MVC on the server-side using 
                Razor HTML extension methods, custom model validator providers, model behavior throw attributes @*TODO: wtf?*@ and Json serialization.
            </p>
            <a class="btn btn-default" href="#">View details »</a>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2><a href="#">JavaScript</a></h2>
            <p>
                Our JavaScript framework consists of AMD compatible modules that make client-side development easy.
                Besides our controls, BForms comes with out of the box JavaScript components like Select2 and Typeahead.
            </p>
            <a class="btn btn-default" href="#">View details »</a>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2><a href="#">NuGet</a></h2>
            <p>
                BForms has several NuGet packages: assembly, JavaScript files and vs.net templates - this way you have full control over what you include in your project.
                To make server-side debugging easy, we've set-up a symbol source package hosted on <a href="http://symbolsource.org">SymbolSource</a>.
            </p>
            <a class="btn btn-default" href="#">View details »</a>
        </div>

    </div>

    <div class="row">

        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            @Html.Partial("_Social")
        }
        
        
    </div>

</div>
