@using BForms.Html
@using BForms.Models
@{
    ViewBag.Title = "Bootstrap Forms for ASP.NET MVC";
}

<div class="bs-docs-section">

    <div class="jumbotron">
        <h1>Bootstrap Forms for ASP.NET MVC</h1>
        <p>The BForms open source framework consists of a collection of ASP.NET MVC HTML Helpers, Javascript AMD modules and custom CSS made with SASS that extends Twitter Bootstrap Version 3.x</p>
        <a class="btn btn-lg btn-default" href="@Url.Action("Setup", "Start")">Get started »</a>
        
    </div>
    <div class="bs-link">
            <ul class="bs-link-buttons">
                <li class="current-version">
                    @Html.BsGlyphicon(Glyphicon.Time) Version <strong>1.0.0</strong> Beta
                </li>

                <li>
                    <a href="https://github.com/stefanprodan/BForms/releases">@Html.BsGlyphicon(Glyphicon.Tasks) Changelog</a>
                </li>
                <li>
                    <a href="https://github.com/stefanprodan/bforms">@Html.BsGlyphicon(Glyphicon.File) Source code</a>
                </li>
                <li>
                    <a href="http://www.nuget.org/packages/BForms.MVC/">@Html.BsGlyphicon(Glyphicon.Compressed) Packages</a>
                </li>
            </ul>
    </div>

    <div class="row bs-docs-tech">

        <div class="col-md-4 col-lg-4">
            <h2><a href="@Url.Action("Overview","Docs")#html-helpers">.NET Integration</a></h2>
            <p>
                The BForms framework integrates Bootstrap CSS grid system and various UI controls with ASP.NET MVC using
                model behavior throw attributes in combination with Razor HTML extension methods and custom model validator providers.
            </p>
            <a class="btn btn-default" href="@Url.Action("Overview", "Docs")">View details »</a>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2><a href="@Url.Action("Overview", "Docs")#javascript-components">JavaScript</a></h2>
            <p>
                Our JavaScript framework consists of AMD compatible modules that make client-side development easy, from HTML5 inputs to date time range, grid and others. 
                Besides our controls, BForms comes with out of the box JavaScript components like Select2 and Typeahead.
            </p>
            <a class="btn btn-default" href="@Url.Action("Overview", "Docs")#javascript-components">View details »</a>
        </div>

        <div class="col-md-4 col-lg-4">
            <h2><a href="http://www.nuget.org/packages/BForms.MVC/">NuGet</a></h2>
            <p>
                BForms for ASP.NET MVC comes as a NuGet package named <a href="http://www.nuget.org/packages/BForms.MVC/">BForms.MVC</a>. 
                Beside the assembly, the package contains all the JavaScript modules as single files and as minified bundles as long with sass and css files.
                To make server-side debugging easy, we've set-up a symbol source package hosted on <a href="https://www.symbolsource.org/Public/Metadata/NuGet/Project/BForms.MVC">SymbolSource</a>.
            </p>
            <a class="btn btn-default" href="http://www.nuget.org/packages/BForms.MVC/">View details »</a>
        </div>

    </div>

    <div class="row">

        @if (!HttpContext.Current.IsDebuggingEnabled)
        {
            @Html.Partial("_Social")
        }
        
        
    </div>

</div>
