@using BForms.Docs.Resources
@using BForms.Html
@using BForms.Docs.Areas.Demo.Models

@model IEnumerable<ContributorOrderModel>


@using (Html.BeginForm())
{
    @Html.BsSortableListFor(Model,
        m => m.Name,
        m => m.Id.ToString(),
        m => m.Order.ToString(),
        m => new Dictionary<string, object>{{"class", "sortable_item"}}, 
        m => new Dictionary<string, object>{{"depth", m.Depth}}, 
        m => new Dictionary<string, object>{{"class", "item_label"}},
        m => m.Role.ToString(),
        m => new Dictionary<string, object>{{"class",
            m.Role == ProjectRole.Tester ? "label-danger" : m.Role == ProjectRole.TeamLeader ? "label-success" : "label-info"}})

    <div class="col-12 col-sm-12 col-lg-12 bs-validation_summary">
        @Html.BsValidationSummary()
    </div>

    <div class="grid_toolbar_submit">
        <button type="submit" class="btn btn-default js-btn-save_order" data-url="@Url.Action("Reorder")">@Resource.Save</button>
        <a href="#" class="js-btn-reset">@Resource.Refresh</a>
    </div>
    
}
