@using BForms.Docs.Helpers
@{
    ViewBag.Title = "Setup";
}

<div class="row">
    <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
        <div class="bs-sidebar">
            <ul class="nav bs-sidenav">
                <li>
                    <a href="#setup">Setup</a>
                    <ul class="nav">
                        <li><a href="#Models">NuGet</a></li>
                        <li><a href="#server">Server side</a></li>
                        <li><a href="#client">Client side</a></li>
                        <li><a href="#deploy">Deploy</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <main class="col-md-9 col-lg-9" role="main">
        <div class="bs-docs-section">
            <div class="page-header">
                <h1 id="setup">Setup BForms for ASP.NET MVC step by step guide</h1>
            </div>
            <p>
                Install BForms.MVC package via NuGet Manager onto your MVC project, this will include in Script folder the BForms JS Framework and will
                add reference to BForms and RequireJsNet assemblies. The JavaScript and CSS components come in two forms, as individual files and as <b>minified bundles</b>.
            </p>

            <h4 class="sub_title">Register BForms validation provider</h4>
            <pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Start/Setup/Source/_Global.cs.embed")
            </pre>
            <br />
            <p>
                If you are using ASP.NET CSS bundles add the BFroms css file first.
            </p>
            <h4 class="sub_title">Register CSS bundles</h4>
            <pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Start/Setup/Source/_BundleConfig.cs.embed")
            </pre>

            <h4 class="sub_title">Include CSS bundles in layout</h4>
            <pre class="prettyprint lang-html bs-example">
@Html.InsertFileContentCached("~/Views/Start/Setup/Source/_LayoutCss.cshtml.embed")
            </pre>
            <h3>Client side</h3>
            <p>
                There are two ways of working with BForms JS components, one way is with RequireJS.NET or to reference the js files
                directly from the <code>~/Scripts/Bforms/Bundles/js</code> folder.
            </p>
            <p>
                To configure RequireJS you'll have to create a BaseController derived from RequireJSController and make your controllers inherit from it.
            </p>
            <h4 class="sub_title">RequireJS Base Controller</h4>
            <pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Start/Setup/Source/_BaseController.cs.embed")
            </pre>
            <br />
            <p>
                Inside the <code>~/Scripts/Bforms</code> folder there are two configuration files, the <code>RequireJS.Release.config</code> file contains
                references to js & css bundles and should be used on deployments.
            </p>
            <h4 class="sub_title">Include JS bundles and require entry point in layout</h4>
            <pre class="prettyprint lang-cs bs-example">
@Html.InsertFileContentCached("~/Views/Start/Setup/Source/_LayoutRequire.cshtml.embed")
            </pre>
        </div>

    </main>
</div>
